canvas {
	cursor: grab;

	@media (width <= 960px) {
		width: 100%;
	}
}

.world-globe__wrapper {
	height: fit-content;
	position: sticky;
	top: calc(var(--header-height) + 0.5rem);

	@media (width <= 960px) {
		order: 2;
		position: relative;
		top: unset;
		width: 100%;
	}
}

.marker__label {
	background: var(--neutral-main);
	border-radius: 0.5rem;
	color: var(--white);
	display: none;
	padding: 0.25rem 0.5rem;
	position: absolute;
	z-index: 100;
}

.marker__wrapper {
	color: var(--primary-dark-1);
	cursor: pointer;
	pointer-events: auto;
	position: relative;
	transition: width 0.2s;
	width: 1.5rem;

	&:hover {
		width: 2rem;

		.marker__label {
			display: block;
		}
	}

	svg circle {
		fill: var(--primary-light-2);
	}

	&.--is-sydney {
		svg {
			rotate: 0.5turn;
		}
	}
}

.world-globe__controls {
	gap: 0 3rem;
}

.world-globe__controls__zoom__wrapper {
	--size: 2rem;
}

.world-globe__controls__direction__wrapper {
	--size: 3rem;
}

.world-globe__controls__direction__wrapper,
.world-globe__controls__zoom__wrapper {
	gap: 0 1rem;

	svg {
		height: var(--size);
		width: var(--size);
	}
}

.world-globe__controls__move {
	gap: 0 1rem;

	&.--right {
		rotate: 0.5turn;
	}
}
