@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.home__jumbotron__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.home__jumbotron__text-right {
  align-self: flex-end;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 4rem;
  text-align: start;
}

.home__jumbotron__text-center {
  margin: 0 .5rem;
  width: fit-content;
}

.home__jumbotron__text-left,
.home__jumbotron__text-right {
  @include font-properties(primary, extra-light);
  @include typography-settings(10, 10, 10);
  text-transform: uppercase;
  z-index: 1;
}


.home__jumbotron__text-left,
.home__jumbotron__text-right {
  max-width: calc(100% / 3);
  width: 100%;
}

.home__jumbotron__text-left__header {
  justify-content: flex-end;
  padding-top: 2rem;
}

.home__jumbotron__text-right__header {
  justify-content: flex-start;
}

.home__jumbotron__text-left__header,
.home__jumbotron__text-right__header {
  display: flex;
  flex-flow: row wrap;
}

.home__jumbotron__text-right__body {
  @include typography-settings(0, 0, 0);
  padding-right: 3rem;
  text-transform: none;
}
