@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.filter__search {
  background-color: color(others, white);
  border-radius: $global-border-radius;
  margin: .5rem 0;
  padding: .5rem;
  width: 100%;
}

.filter__search__inner {
  margin-top: 1rem;
  position: relative;
}

.filter__search__input {
  @include typography-settings(0);
  border: 0;
  outline: none;
  position: relative;
  width: 100%;

  &:focus,
  &:focus-within,
  &.--has-value {
    ~ .filter__search__label {
      @include typography-settings(-2, -2, -2);
      top: -1rem;
    }

    ~ .filter__search__input__border::before {
      background-color: color(primary);
    }

    ~ .filter__search__buttons {
      top: .25rem;
    }

    ~ .filter__search__buttons svg {
      fill: color(primary);
    }
  }
}

.filter__search__input__border {
  transition: background-color .3s;

  &::before {
    background-color: color(neutral, neutral-3);
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.filter__search__label {
  @include typography-settings(-1, -1, -1);
  color: color(neutral, neutral-2);
  left: 0;
  position: absolute;
  top: 0;
  transition: all .2s ease-in-out;
}

.filter__search__buttons {
  position: absolute;
  right: .5rem;
  top: 0;
  transition: top .3s;

  .filter__search__buttons__reset-query {
    cursor: pointer;
  }
}
