@layer reset {
    *:where(:not(iframe, canvas, img, svg, video):not(svg *, footer, footer *)) {
        all: unset;
        display: revert;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        min-width: 0;
    }

    ol,
    ul {
        list-style: none;
    }

    table {
        border-collapse: collapse;
    }

    input[type='search'] {
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }
    }
}
