@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.hamburger-menu {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  transition: transform .4s .6s;
  width: 4rem;
  z-index: 30;

  &.--is-active {
    transform: rotate(45deg);

    .hamburger-svg__line-top,
    .hamburger-svg__line-middle,
    .hamburger-svg__line-bottom {
      stroke: color(others, white);
    }

    .hamburger-svg__line-top {
      stroke-dashoffset: -98px;
    }

    .hamburger-svg__line-bottom {
      stroke-dashoffset: -138px;
    }
  }
}

.hamburger-svg__line-top {
  stroke-dasharray: 40 139;
}

.hamburger-svg__line-bottom {
  stroke-dasharray: 40 180;
}

.hamburger-svg__line-top,
.hamburger-svg__line-middle,
.hamburger-svg__line-bottom {
  fill: none;
  stroke: color(neutral);
  stroke-linecap: round;
  stroke-width: 5.5;
  transition: stroke-dasharray .4s .6s, stroke-dashoffset .4s .6s, stroke .8s .5s;
}
