---
---

<div class="theme-switch-wrapper">
  <label class="theme-switch" for="checkbox">
    <input type="checkbox" id="checkbox" style="width: 2rem; height: 2rem; background: red; z-index: 99999"/>
    <div class="slider round" />
  </label>
  <em>Enable Dark Mode!</em>
</div>

<script>
  import { initializeThemeSetter } from './utils/themeSetter';

  initializeThemeSetter()
</script>