@layer theme-toggle {
    /* stylelint-disable no-descending-specificity */
    .theme-toggle_wrapper {
        position: absolute;
        right: 2rem;
        transform: translateY(-75%);

        @media (max-width: 575px) {
            margin-top: 2rem;
            order: -1;
            position: inherit;
            transform: translateY(-50%);
        }
    }

    .theme-toggle__input {
        display: none;
    }

    .theme-toggle {
        --theme-toggle-animation-duration: 500ms;
        cursor: pointer;

        &:hover .theme_toggle_inner{
            scale: 1.1;
        }

        .theme_toggle_inner {
            fill: light-dark(var(--primary-main), var(--white));
            height: 2rem;
            transition: scale 0.2s;
            width: 2rem;

            * {
                transform-origin: center;
                transition: transform calc(var(--theme-toggle-animation-duration) * 0.6) ease;
            }

            > g g circle {
                transition-delay: calc(var(--theme-toggle-animation-duration) * (var(--inline-index) * 0.095 + 0.158));
                transition-duration: calc(var(--theme-toggle-animation-duration) * 0.2);
            }

            > *:first-child path {
                transition-property: transform, d;
            }

            .--toggled.theme-toggle &,
            .--is-dark.theme-toggle:not(.--untoggled) & {
                transition-delay: 0s;
                transition-duration: var(--theme-toggle-animation-duration);
            }

            .--toggled.theme-toggle & > g > circle,
            .--is-dark.theme-toggle:not(.--untoggled) & > g > circle {
                transform: scale(1.4);
            }

            .--is-dark.theme-toggle:not(.--untoggled) & > g > circle,
            .--toggled.theme-toggle & > g g circle {
                transform: scale(0);
                transition-delay: 0s;
                transition-duration: calc(var(--theme-toggle-animation-duration) * 0.4);
            }

            .--toggled.theme-toggle & > *:first-child,
            .--is-dark.theme-toggle:not(.--untoggled) & > *:first-child {
                rotate: -0.25turn;
            }

            .--toggled.theme-toggle & > *:first-child path,
            .--is-dark.theme-toggle:not(.--untoggled) & > *:first-child path {
                d: path("M-12-14h42v30a1 1 0 00-16 13H0Z");
            }

            @supports not (d: path("")) {
                .--toggled.theme-toggle & > *:first-child path,
                .--is-dark.theme-toggle:not(.--untoggled) & > *:first-child path {
                    transform: translate3d(-0.75rem, 1rem, 0);
                }
            }
        }
    }
}
