---
import { SOCIAL_NETWORKS } from "@const/index";
import EmailButton from "@modules/core/components/emailButton/EmailButton.astro";
import "./social-networks.css";
---
<ul class="social__networks__list flex">
  {Object.entries(SOCIAL_NETWORKS).map(([key, value]) => (
      <li class="social__networks__item">
          <a
              href={value}
              target="_blank"
              rel="external"
              class="social__networks__link --underline-on-hover"
          >
            {key.toLowerCase()}
          </a>
      </li>
  ))}
    <li class="social__networks__item">
        <EmailButton classNames="social__networks__link" />
    </li>
</ul>
