---
import { getCollection } from "astro:content";
import { MAX_LATEST_ARTICLES, PAGES_ROUTES } from "@const/index";
import { LatestArticlesSlider } from "./atoms/latestArticlesSlider/LatestArticlesSlider.tsx";
import "./latest-articles.css";

interface LatestArticlesProps {
	limit?: number;
}

const { limit = MAX_LATEST_ARTICLES } = Astro.props as LatestArticlesProps;

const articles = (await getCollection("articles")).slice(0, limit);
---

<section class="latest-articles__wrapper">
  <h3 class="latest-articles__title section-title">
    Fresh from <a class="latest-articles__title__link --is-clickable --underline-on-hover" href={`${PAGES_ROUTES.ARTICLES}`}>the blog</a>
  </h3>
  <LatestArticlesSlider client:load articles={articles} location={Astro.url} />
  <script is:inline type="application/ld+json" set:html={JSON.stringify({
    "@context": "https://schema.org",
    "@type": "ItemList",
    "itemListElement": articles.map(({ data: {slug} }, index) => ({
      "@type": "ListItem",
      "position": index + 1,
      "url": new URL(slug, Astro.url).href
    }))
  })}/>
</section>
