.latest-articles-wrapper {
	background-color: var(--neutral-main);
	padding-block: var(--space-l);
	padding-inline: 0;

	@media (720px <= width <= 1440px) {
		padding-inline: var(--space-s);
	}
}

.latest-articles__title {
	color: var(--ink);
	padding-block: 4rem;

	.latest-articles__title__link {
		color: var(--primary-main);
		display: inline-block;
	}
}

.latest-articles__slider {
	--slides-per-view: 1;
	--slider-gap: 0rem;

	padding-block: 2rem 4rem;
	position: relative;

	@media (width >= 720px) {
		--slides-per-view: 2;
		--slider-gap: 2rem;
	}

	@media (width >= 1024px) {
		--slides-per-view: 4;
		--slider-gap: 2rem;
	}
}
