.articles__wrapper {
	background-color: var(--neutral-light-4);
	[data-theme="dark"] & {
		background-color: var(--background-main);
	}
}

.articles__title {
	color: var(--primary-main);
}

.featured-article__link-card {
	height: 100%;
	position: absolute;
	width: 100%;
}

.featured-article__wrapper {
	display: grid;
	gap: 0 2rem;
	grid: "Featured-Article-Image Featured-Article-Content" minmax(auto, 70dvh) / minmax(60%, 1fr) 1fr;

	@container articles-page (width <= 960px) {
		gap: 1rem 0;
		grid:
			"Featured-Article-Image" minmax(auto, 50dvh)
			"Featured-Article-Content" 1fr
			/ 1fr;
		padding-block-end: 1rem;
	}
}

.featured-article__image {
	grid-area: Featured-Article-Image;
	height: 100%;
	object-fit: cover;
}

.featured-article__details__wrapper {
	grid-area: Featured-Article-Content;
	padding-inline-end: 1rem;
	position: relative;
}

.featured-article__details {
	align-self: center;
	gap: 2rem 0;

	@container articles-page (width <= 960px) {
		gap: 1rem 0;
		padding-inline: 1rem;
	}
}

.featured-article__share__wrapper {
	bottom: -0.5rem;
	gap: 1rem 0;
	justify-content: space-between;
	position: absolute;
	translate: 0 100%;
	width: 100%;

	@container articles-page (width <= 960px) {
		bottom: -1.5rem;
		gap: 0.5rem 1rem;
		justify-content: flex-start;
		padding-inline: 1rem;
	}
}

.featured-article__share__link__item {
	color: var(--neutral-main);
}

.featured-article__tags__list {
	gap: 0 1rem;
	text-transform: lowercase;
	z-index: 10;
}

.featured-article__share__links__list {
	gap: 0 1rem;
}

.featured-article__share__title {
	font-weight: 700;
	letter-spacing: 0.25rem;
	text-transform: uppercase;
}
