---
import './about-latest-articles.css';
import { AboutLatestArticlesSlider } from 'src/ui/components/molecules/aboutLatestArticlesSlider';
---

<section class="about-latest-articles__wrapper common-wrapper">
  <h3 class="about-latest-articles__title section-title">
    Fresh from <a class="clickable" href="/articles">the blog</a>
  </h3>
  <div class="about-latest-articles__inner">
    <div class="about-latest-articles__quote__wrapper">
      <h3 class="about-latest-articles__quote">Lorem ipsum dolir sit Amet. Dolor sit amet.</h3>
      <h6 class="about-latest-articles__quote__author">Ferran Buireu</h6>
    </div>
    <AboutLatestArticlesSlider client:load />
  </div>
</section>
