---
import { getCollection } from "astro:content";
import { articleDTO } from "@application/dto/article/articleDTO";
import "./about-latest-articles.css";
import type { ArticleDTO } from "@application/dto/article/articleDTO";
import { AboutLatestArticlesSlider } from "@components/molecules/aboutLatestArticlesSlider";

const articles: ArticleDTO[] = await Promise.all(
	(await getCollection("articles"))
		.sort((a, b) => new Date(b.data?.publishDate).valueOf() - new Date(a.data?.publishDate).valueOf())
		.map(articleDTO.render),
);
---

<section class="about-latest-articles__wrapper common-wrapper">
  <h3 class="about-latest-articles__title section-title">
    Fresh from <a class="clickable" href="/articles">the blog</a>
  </h3>
  <div class="about-latest-articles__inner">
    <div class="about-latest-articles__quote__wrapper">
      <h4 class="about-latest-articles__quote">Lorem ipsum dolir sit Amet. Dolor sit amet.</h4>
      <h6 class="about-latest-articles__quote__author">Ferran Buireu</h6>
    </div>
    <AboutLatestArticlesSlider client:load articles={articles} origin={Astro.url} />
    <script type="application/ld+json" set:html={JSON.stringify({
      "@context": "https://schema.org",
      "@type": "ItemList",
      "itemListElement": articles.map(({ slug }, index) => ({
        "@type": "ListItem",
        "position": index + 1,
        "url": new URL(slug, Astro.url).href
      }))
    })}/>
  </div>
</section>
