.scroll-top__wrapper {
	animation: pop-in 1s var(--ease-elastic) forwards;
	animation-range: entry 50dvh;
	animation-timeline: scroll();
	inset: auto 2rem 3rem auto;
	position: fixed;
	scale: 0;
	z-index: 100;

	@media (width <= 575px) {
		inset: auto 1rem 1rem auto;
	}
}
.scroll-top {
	background: var(--primary-light-2);
	box-shadow: 0.125rem 0.125rem 0.175rem var(--neutral-light-2);
	height: fit-content;
	transition: background-color 2s;
	width: fit-content;

	svg {
		--color: light-dark(inherit, var(--white));
		color: var(--color);
		fill: var(--color);
		height: 3rem;
		padding: 0.50rem;
		rotate: 0.25turn;
		width: 3rem;
	}
}
