---
import arrowUp from "@assets/images/svg/left-arrow.svg?raw";
import "./scroll-top.css";
---
<div class="scroll-top-wrapper">
    <a class="scroll-top flex --is-clickable" href="#top">
        <Fragment set:html={arrowUp} />
    </a>
</div>