---
import arrowUp from "@ui/assets/images/svg/left-arrow.svg?raw";
import "./scroll-top.css";
---

<div class="scroll-top__wrapper">
  <a class="scroll-top flex clickable" href="#top">
    <Fragment set:html={arrowUp} />
  </a>
</div>