@import 'variables';

@keyframes clock-spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes bounce-in {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-2rem);
  }

  50% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  57% {
    transform: translateY(-.5rem);
  }

  65% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
