@import 'variables';
@import 'functions';

* {
  box-sizing: border-box;
}

html,
body {
  @include font-properties(primary, bold);
  color: color(neutral);
  font-size: $base-font-size;
}

img {
  height: 100%;
  max-width: 100%;
  width: 100%;
}

.flex {
  display: flex;

  &.--row-wrap {
    flex-flow: row wrap;
  }

  &.--row-nowrap {
    flex-flow: row nowrap;
  }

  &.--column-wrap {
    flex-flow: column wrap;
  }

  &.--column-nowrap {
    flex-flow: column nowrap;
  }

  &.--justify-between {
    justify-content: space-between;
  }

  &.--justify-center {
    justify-content: center;
  }

  &.--align-center {
    align-items: center;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: $global-max-width;
  text-align: center;
}
