@import 'variables';
@import 'mediaqueries';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: $font-primary;
  @include large-device {
    font-size: $minimum-font-size;
  }
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}