@import 'variables';
@import 'functions';

.site__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  margin-inline: auto;
  max-width: $global-max-width;
  text-align: center;
}

article:not([class]) {
  line-height: map-get($line-heights, 1);
}

a:not([class]),
a.article__author,
a.hit-card__author {
  @include font-properties(primary, bold);
  color: color(primary);
  padding: 0 0 .25rem;
  position: relative;
}

svg {
  transition: fill .3s;
}
