@import url('variables.css');

body, html, p, article {
    color: var(--neutral-main);
    font-size: var(--base-font-size);
}

body, html {
    font-family: 'Literata Variable', serif;
}

p, article {
    font-family: 'Zilla Slab', sans-serif;
}

img {
    height: 100%;
    max-width: 100%;
    width: 100%;
}

svg {
    fill: var(--base-font-size);
    width: 1rem;
}

mark {
    background-color: var(--primary-main);
}
