$global-max-width: 1440px;
$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.25;

$grid: (
  extra-small: 575px,
  small: 720px,
  medium : 960px,
  large : 1024px
);

$fonts: (
  primary: (
    regular: (
      family: ('Zilla Slab', serif),
      weight: 400,
      style: normal
    ),
    regular-italic: (
      family: ('Zilla Slab', serif),
      weight: 400,
      style: italic
    ),
    bold: (
      family: ('Zilla Slab', serif),
      weight: 700,
      style: normal
    ),
  ),
  secondary: (
    light: (
      family: ('Montserrat', sans-serif),
      weight: 300,
      style: normal
    ),
    regular: (
      family: ('Montserrat', sans-serif),
      weight: 400,
      style: normal
    ),
    bold: (
      family: ('Montserrat', sans-serif),
      weight: 700,
      style: normal
    ),
  ),
);

$typography-scale: (
  -1: .75rem,
  0: 1rem,
  1: 1.5rem,
  2: 1.75rem,
  3: 2rem
);

$line-heights: (
  -1: $base-line-height,
  0: $base-line-height,
  1: $base-line-height * 2,
  2: $base-line-height * 2
);

$colors: (
  neutral:(
    main: #1e2021,
    neutral-1: #3d4042,
    neutral-2: #6d7275,
    neutral-3: #b5babd,
    neutral-4: #dnE1e5,
    neutral-5: #f3f7fa
  ),
  error:(
    main: #d63737,
    error-2: #d09d9e,
    error-3: #ffecef
  ),
  others:(
    white: #fff,
  )
);
