:root {
    --primary-light-4: #fff9f1;
    --primary-light-3: #fff0da;
    --primary-light-2: #ffe3bb;
    --primary-light-1: #fbcf90;
    --primary-main: #d4a259;
    --primary-dark-1: #b37e33;
    --primary-dark-2: #8b5a14;
    --primary-dark-3: #633a00;
    --neutral-main: #1e2021;
    --neutral-1: #3d4042;
    --neutral-2: #6d7275;
    --neutral-3: #b5babd;
    --neutral-4: #ddd;
    --neutral-5: #f3f7fa;
    --error-light-2: #ffecef;
    --error-light-1: #d09d9e;
    --error-main: #d63737;
    --success-light-2: #2cb235;
    --success-light-1: #0e9b17;
    --success-main: #008108;
    --x: #1da1f2;
    --facebook: #3b5998;
    --linkedin: #0077b5;
    --whatsapp: #24d367;
    --email: #7d7d7d;
    --white: #fff;
    --black: #000;
    --global-max-width: 1440px;
    --base-font-size: 1rem;
    --base-line-height: calc(var(--base-font-size) * 1.25);
    --global-border-radius: 0.25rem;
    --grid-extra-small: 575px;
    --grid-small: 720px;
    --grid-medium: 960px;
    --grid-article: 75ch;
    --grid-large: 1024px;
    --grid-extra-large: 1440px;
}
