@import '../../../styles/global/functions';

.article__summary {
  grid-area: Summary;
  text-align: left;
}

.article__information {
  .article__summary {
    @include typography-settings(0);
    color: color(others, white);
    letter-spacing: 1px;
    margin-top: -.5rem;
    max-width: 50%;
    width: 100%;
  }
}

.article-card__link {
  .article__summary {
    @include typography-settings(-1);
    background-color: color(others, white);
    color: color(neutral);
    padding: 1rem;
    transform: translateY(100%);
    transition: transform .5s ease;
  }
}
