@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.related-article__item {
  max-width: calc(100% / 3 - 1rem);
  min-width: calc(100% / 3 - 1rem);
  width: 100%;
}

.related-article__item__card {
  display: grid;
  grid: 'RelatedArticle-Image RelatedArticle-Image' 1fr
  'RelatedArticle-Title RelatedArticle-Title' max-content
  'RelatedArticle-Author RelatedArticle-Date' auto
  / max-content 1fr;
  text-align: start;
}

.related-article__item:not(:last-child) {
  margin-right: 2.5rem;
}

.related-article__item__image {
  grid-area: RelatedArticle-Image;
}

.related-article__item__title {
  @include typography-settings(1, 1, 2);
  font-weight: normal;
  grid-area: RelatedArticle-Title;
}

.related-article__item__tag__item {
  color: color(neutral, neutral-3);
  flex-basis: 100%;
}

.related-article__author,
.related-article__date {
  @include font-properties(secondary);
}

.related-article__author {
  color: color(primary);
  grid-area: RelatedArticle-Author;
}

.related-article__date {
  grid-area: RelatedArticle-Date;
  margin-left: .25rem;
}
