---
import './articleLayout.css';
import Footer from '@components/organisms/footer/Footer.astro';
import SiteHead from '@components/organisms/siteHead/SiteHead.astro';
import Header from '@components/organisms/header/Header.astro';

interface ArticleLayoutProps {
    title: string;
    description: string;
    featuredImage: string;
    publishDate: string;
}

const { title, description, featuredImage, publishDate } = Astro.props as ArticleLayoutProps;
---

<html lang="en">
    <SiteHead title={title} description={description} />
    <body>
        <Header />
        <main>
            <article>
                {featuredImage && <img width={1020} height={510} src={featuredImage} alt="" />}
                <time>{publishDate}</time>
                <slot />
            </article>
        </main>
        <Footer />
    </body>
</html>
