---
import './articleLayout.css';
import type { CollectionEntry } from 'astro:content';
import Footer from '@components/organisms/footer/Footer.astro';
import SiteHead from '@components/organisms/siteHead/SiteHead.astro';
import Header from '@components/organisms/header/Header.astro';

type ArticleLayoutProps = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
<SiteHead title={title} description={description} />
<body>
<Header />
<main>
    <article>
      {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
        <slot />
    </article>
</main>
<Footer />
</body>
</html>
