@layer about.world-globe {
  .marker {
    color: var(--primary-dark-1);
    cursor: pointer;
    pointer-events: auto;
    width: 1.5rem;

    svg circle {
      fill: var(--primary-light-2);
    }
  }
}
