@layer cities {
  .city-card__list {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--inline-num-cards), 400px);
    list-style: none;
    margin-bottom: 3rem;
    padding-bottom: calc(var(--inline-index) * 0.5rem);
    view-timeline-name: --cities-scales-in-view;
  }
}
