@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.filter__refinement-list.--is-range-input {
  .filter__refinement-summary {
    cursor: initial;
  }
}

.ais-RheostatRangeSlider {
  .rheostat-handle {
    border: solid 2px color(primary);
  }

  .rheostat-progress {
    background-color: color(primary);
  }
}

.ais-RheostatRangeSlider-wrapper .ais-RheostatRangeSlider-value {
  flex-basis: 0;
  margin-top: .25rem;

  &:first-child {
    padding: 0 1rem 0 0;
  }

  &:last-child {
    padding: 0 0 0 1rem;
  }
}

.ais-RheostatRangeSlider-item {
  margin-top: .5rem;
}
