@import '../../../styles/global/functions';

.article__subtitle {
  grid-area: Date-Author;
  letter-spacing: .25rem;
  color: color(others, white);
  justify-self: flex-start;
}

.article__author {
  @include font-properties(secondary, bold);
  color: color(primary);
}

.article__information {
  .article__subtitle {
    @include typography-settings(1, 1, 1);
    margin-top: -1rem;
  }
}
