@import '../../../styles/global/functions';

.article__subtitle {
  @include typography-settings(1);
  color: color(others, white);
  grid-area: Date-Author;
  letter-spacing: .25rem;
  margin-top: -1rem;

  .article__author {
    @include font-properties(primary, bold);
    color: color(primary);
  }
}
