---
import { Image } from "astro:assets";
import "./my-work.css";
import type { ImageMetadata } from "astro";

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/**/*.{jpeg,jpg,png,gif}");
---

<section class="my-work__wrapper common-wrapper">
  <h3 class="my-work__title section-title">My Work</h3>
  <ul class="my-work__content__list flex row-wrap justify-space-between">
    <li class="my-work__item">
      <a class="my-work__item__link clickable" href="/projects#stories-of-impact">
        <Image src={images['/src/assets/images/jpg/stories-of-impact.jpg']()} alt="Stories of Impact" />
        <h4 class="my-work__item__title inner-section-title">Stories of Impact</h4>
      </a>
    </li>
    <li class="my-work__item">
      <a class="my-work__item__link clickable" href="/projects#reports-and-thought-leadership">
        <Image src={images['/src/assets/images/jpg/thought-leadership.jpg']()} alt="Reports & Thought Leadership" />
        <h4 class="my-work__item__title inner-section-title">Reports & Thought Leadership</h4>
      </a>
    </li>
    <li class="my-work__item">
      <a class="my-work__item__link clickable" href="/projects#creative-direction">
        <Image src={images['/src/assets/images/jpg/creative-direction.jpg']()} alt="Creative Direction" />
        <h4 class="my-work__item__title inner-section-title">Creative Direction</h4>
      </a>
    </li>
    <li class="my-work__item">
      <a class="my-work__item__link clickable" href="/projects#web-content">
        <Image src={images['/src/assets/images/jpg/web-content.jpg']()} alt="Web Content" />
        <h4 class="my-work__item__title inner-section-title">Web Content</h4>
      </a>
    </li>
  </ul>
</section>
