---
import Breadcrumbs from '../../molecules/breadcrumbs/Breadcrumbs.astro';
import './projects-intro.css'
---
<section class="projects-intro__wrapper">
  <h1 class="articles__title section-title">Projects</h1>
  <Breadcrumbs classNames="projects-page"/>
</section>