@layer related-articles {
    .related-articles__wrapper {
        margin: 6rem auto;

        @media (width <= 960px) {
            margin: 4rem auto;
        }
    }

    .related-articles__title {
        margin-block-end: 2rem;
    }

    .related-article__item {
        --items-per-row: 3;
        justify-content: flex-start;
        margin: 0 auto;
        max-width: calc(100% / var(--items-per-row) - 1rem);
        width: 100%;

        @media (width <= 960px) {
            --items-per-row: 1;
        }
    }

    .related-articles__list {
        gap: 1rem 0;
        padding: 0 1rem;

        @media (width <= 960px) {
            margin: 2rem 0;
        }
    }
}
