---
import type { SeoMetadata } from "@const/types";
import CookieConsent from "@shared/ui/components/cookieConsent/CookieConsent";
import Footer from "@shared/ui/components/footer/Footer.astro";
import Head from "@shared/ui/components/head/Head.astro";
import Header from "@shared/ui/components/header/Header.astro";
import ScrollTop from "@shared/ui/components/scrollTop/ScrollTop.astro";

type BaseLayoutProps = SeoMetadata;

const { title, description, robots } = Astro.props as BaseLayoutProps;
const { pathname } = Astro.url;
const isProjects = pathname.includes("/projects");
---

<html lang="en">
  <Head title={title} description={description} robots={robots} />
  <body>
  <noscript>
    <iframe src=`https://www.googletagmanager.com/ns.html?id=${import.meta.env.PUBLIC_GOOGLE_ANALYTICS_ID}`
                    height="0" width="0" style="display:none;visibility:hidden">

    </iframe>
  </noscript>
    <Header />
    <ScrollTop />
    <CookieConsent client:only="react" />
    <main class:list={[{ '--is-projects': isProjects }]}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
