.latest-articles__title {
	color: var(--white);
	padding-block: 4rem;

	.latest-articles__title__link {
		color: var(--primary-main);
		display: inline-block;
	}
}

.latest-articles__slider {
	--slides-per-view: 1;
	--slider-gap: 0rem;

	padding: 2rem 0 4rem;
	position: relative;

	@media (width >= 720px) {
		--slides-per-view: 2;
		--slider-gap: 2rem;
	}

	@media (width >= 1024px) {
		--slides-per-view: 4;
		--slider-gap: 2rem;
	}
}
