# OS files
.DS_Store

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*

# Test-related directories
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Dependency directories
node_modules/

# Dependency managers
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.tgz
.yarn-integrity
yarn-error.log

# Environment variables files
.env*
!.env.example

# Astro files
.cache
.astro/
dist/

# Million files
.million/

# IDE/Text editor
.editorconfig
.idea/
.vscode/
.fleet/
.history/
