# OS files
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# eslint cache
.eslintcache

# Coverage directory used by testing tools
coverage/

# Dependency directories
node_modules/

# Dependency managers
.npm
.yarn
*.tgz
.yarn-integrity
.pnp/
.pnp.js
yarn-error.log

# Environment variables files
.env*
!.env.example

# Astro files
.cache
.astro/
dist/

# IDE/Text editor
.editorconfig
.idea/
.vscode/
.fleet/
.history/
