.reading-progress{
    background-color: var(--primary-main);
    height: 0.25rem;
    left: 0;
    position: fixed;
    top: 0;
    transition: width 0.3s;
    z-index: 1000;

    &.--is-menu-open {
        z-index: 0;
    }
}