---
import type { CollectionEntry } from "astro:content";
import ArticleCard from "@modules/core/components/articleCard/ArticleCard.astro";
import SliderShell from "@modules/core/components/sliderShell/SliderShell.astro";
import "./related-articles-slider.css";

interface RelatedArticlesSliderProps {
	articles: CollectionEntry<"articles">[];
	showTrack?: boolean;
}

const { articles, ...rest } = Astro.props as RelatedArticlesSliderProps;
---

<SliderShell class="related-articles__slider common-wrapper" {...rest}>
	{
		articles.map((article) => (
			<li class="slider__slide item-wrapper --is-clickable">
				<ArticleCard {...article} />
			</li>
		))
	}
</SliderShell>
