---
import type { CollectionEntry } from "astro:content";
import ArticleCard from "@modules/core/components/articleCard/ArticleCard.astro";
import SliderShell from "@modules/core/components/sliderShell/SliderShell.astro";
import "./related-articles-slider.css";

interface Props {
	articles: CollectionEntry<"articles">[];
	showTrack?: boolean;
}

const { articles, ...rest } = Astro.props;
---

<SliderShell class="related-articles__slider common-wrapper" {...rest}>
	{
		articles.map((article) => (
			<li class="slider__slide item-wrapper">
				<ArticleCard {...article} />
			</li>
		))
	}
</SliderShell>
