@import '../../../styles/global/functions';
@import '../../../styles/global/variables';

.share-buttons__wrapper {
  .share-buttons__inner {
    display: flex;
    flex-flow: column wrap;
    position: sticky;
    top: 50%;
    visibility: hidden;
  }

  .share-button {
    border-radius: 50%;
    height: 2.5rem;
    margin-top: .25rem;
    opacity: 0;
    outline: none;
    text-align: left;
    transform: translateX(-2rem);
    visibility: hidden;
    width: 2.5rem;

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      box-shadow: .25rem .25rem .25rem color(neutral, neutral-2);
    }
  }

  @each $social-network, $color in map-get($colors, 'social-networks') {
    $index: index(map-get($colors, 'social-networks'), $social-network $color);
    $length: length(map-get($colors, 'social-networks'));

    .share-buttons__inner .share-button:nth-child(#{$index}) {
      transition: transform .15s ease #{-($index - $length) * .05}s, opacity .1s ease #{-($index - $length) * .05}s, visibility .1s ease #{-($index - $length) * .05}s;
    }

    .share-buttons__inner .#{$social-network} svg:hover {
      circle {
        fill: $color;
      }
    }
  }

  &.--is-visible {
    .share-button {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
    }

    @each $social-network, $name in map-get($colors, 'social-networks') {
      $index: index(map-get($colors, 'social-networks'), $social-network $name);

      .share-buttons__inner .share-button:nth-child(#{$index}) {
        transition: visibility, transform .15s ease #{$index * .05}s, opacity .1s ease #{$index * .05}s, visibility .1s ease #{$index * .05}s;
      }
    }
  }

  svg {
    height: 100%;
    transition: transform .3s;
    width: 100%;

    circle {
      fill: color(primary);
      transition: fill .3s;
    }

    &:hover {
      transform: rotate(-15deg) scale(1.1);
    }
  }

  @each $social-network-item, $color in map-get($colors, 'social-networks') {
    .#{$social-network-item} svg:hover {
      circle {
        fill: $color;
      }
    }
  }
}
