@import '../../../styles/global/functions';

.share-buttons__wrapper {
  div {
    display: flex;
    flex-flow: column wrap;
    position: sticky;
    top: .5rem;
  }

  .share-button {
    border-radius: 50%;
    height: 2.5rem;
    margin-top: .25rem;
    outline: none;
    text-align: left;
    transition: all .3s ease-out;
    width: 2.5rem;

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      box-shadow: .25rem .25rem .25rem color(neutral, neutral-2);
    }
  }

  svg {
    height: 100%;
    transition: transform .3s;
    width: 100%;
    will-change: transform;

    circle {
      fill: color(primary);
      transition: fill .3s;
      will-change: fill;
    }

    &:hover {
      transform: rotate(-15deg) scale(1.1);
    }
  }


  @each $social-network-item, $color in map-get($colors, 'social-networks') {
    .#{$social-network-item} svg:hover {
      circle {
        fill: $color;
      }
    }
  }
}
