@layer cities.city-card.name {
  .city-card__content__name {
    grid-area: City-Name;
    margin-top: -1rem;

    @media (max-width: 720px) {
      margin-top: 0;
      padding-inline: 1rem;
    }
  }
}
