@layer article {
    .article__details {
        display: grid;
        grid:
      'Article-Title Article-Title Article-Title' 1fr
      'Article-Date Article-Date Article-Author' min-content
      'Article-Tags Article-Tags Article-Tags' min-content / 1fr 1fr;
        margin: 0 auto;
        max-width: var(--grid-small);
        width: 100%;

        @media (max-width: 960px) {
            padding-inline: 1rem;
        }
    }

    .article__title {
        grid-area: Article-Title;
    }

    .article__author {
        grid-area: Article-Author;

        a {
            color: var(--primary-main);
        }
    }

    .article__tags__list {
        gap: 0 1rem;
        grid-area: Article-Tags;
    }

    .article__publish-date {
        grid-area: Article-Date;
    }

    .article__featured__image {
        max-height: 60dvh;
        object-fit: cover;
    }

    .article__wrapper {
        display: grid;
        gap: 0 2rem;
        grid: '. Main-Content .' / 1fr min(var(--grid-article), 100%) 1fr;
        margin: 2rem 0;
        @media (max-width: 960px) {
            gap: 2rem 0 ;
            padding-inline: 1rem;
        }
    }

    .article__wrapper > *:not(.full-bleed) {
        grid-area: auto / Main-Content;
        /*line-height: var(--base-line-height, 3rem);*/
        line-height: 3vh;
    }

    .full-bleed {
        grid-column: 1 / -1;
    }

    .related-articles__wrapper{
        margin: 6rem 0;
        @media (max-width: 960px) {
            margin: 4rem 0;
        }
    }

    .related-articles__item {
        --items-per-row: 3;
        justify-content: center;
        max-width: calc(100% / var(--items-per-row) - 1rem);
        width: 100%;

        @media (max-width: 960px) {
            --items-per-row: 1;
            justify-content: flex-start;
        }
    }

    .related-articles__list {
        gap: 1rem 0;
        padding: 0 1rem;

        @media (max-width: 960px) {
            margin: 2rem 0;
        }
    }
}
