.article__featured__image {
	max-height: 50vh;
	object-fit: cover;
}

.article__wrapper {
	display: grid;
	gap: 0 1rem;
	grid: ". Article-Content ." / 1fr min(var(--grid-article), 100%) 1fr;
	margin-block: 2rem 4rem;
	timeline-scope: var(--scopes);

	& > section {
		view-timeline: var(--is);
	}

	& > p:first-of-type::first-letter {
		color: var(--primary-main);
	}

	p {
		line-height: 1.5lh;
	}

	& > * {
		margin-block-end: 1lh;
	}

	@supports (initial-letter: 2 2) {
		& > p:first-of-type::first-letter {
			initial-letter: 2 2;
			padding-right: 0.25rem;
		}
	}

	@supports not (initial-letter: 2 2) {
		& > p:first-of-type::first-letter {
			float: left;
			font-size: 2lh;
		}
	}

	@container article-page (width <= 960px) {
		gap: 0;
		margin-inline: 1rem;
	}
}

.article__wrapper > *:not(.full-bleed) {
	grid-area: auto / Article-Content;
}

.article__heading {
	gap: 0 0.5rem;
	scroll-margin-block-start: var(--header-height);

	svg {
		display: none;
	}

	&:hover {
		color: var(--primary-main);

		svg {
			display: flex;
			fill: var(--primary-main);
		}
	}
}

.full-bleed {
	grid-column: 1 / -1;
	max-height: 50vh;

	img {
		object-fit: cover;
	}

	@container article-page (width <= 960px) {
		max-height: 100%;
		margin-inline: -1rem;
	}
}
