.articles__grid__list {
	--gap: 2rem;
	display: grid;
	gap: calc(var(--gap) * 3) var(--gap);
	grid-template-columns: repeat(auto-fill, minmax(calc(100% / var(--items-per-row) - var(--gap)), 1fr));
	margin-block: 12rem;
	--items-per-row: 4;

	@container articles-page (width <= 960px) {
		margin-block: 7rem;
		--items-per-row: 1;
	}
}

.articles__intro {
	padding-block: 5.625rem 0;

	@container articles-page (width <= 960px) {
		padding-block: 3.5rem 0;
	}
}

.articles__eyebrow {
	margin-block-end: 1.5rem;
}

.articles__title {
	font-size: clamp(2.5rem, 6cqi, 4rem);
	margin: 0 0 var(--rhythm);
}
