---
import { articleDTO } from "@application/dto/article/articleDTO";
import type { RawArticle } from "@application/dto/article/types";
import { client } from "@lib/contentful";
import ArticleCard from "@shared/ui/components/articleCard/ArticleCard.astro";
import BaseLayout from "@shared/ui/components/baseLayout/BaseLayout.astro";
import Breadcrumbs from "@shared/ui/components/breadcrumbs/Breadcrumbs.astro";
import FeaturedArticle from "@ui/components/modules/articles/components/featuredArticle/FeaturedArticle.astro";
import { getFeaturedArticle } from "src/shared/ui/utils/getFeaturedArticle";
import "./_articles.css";

const { items: rawArticles } = await client.getEntries<RawArticle>({
	content_type: "article",
});

const articles = articleDTO
	.render(rawArticles as RawArticle[])
	.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());

const featuredArticle = getFeaturedArticle(articles);
---

<BaseLayout title="" description="">
    <h1 class="articles__title section-title">The Blog</h1>
    <Breadcrumbs classNames="articles-page" />
    <FeaturedArticle featuredArticle={featuredArticle} />
    <section class="articles__grid common-wrapper">
        <ul class="articles__grid__list flex row-wrap justify-space-between">
          {
            articles
                .filter(({ slug }) => slug !== featuredArticle.slug)
                .map((article, index) => {
                    const href=`/articles/${article.slug}`;
                    const props= {...article, href}

                    return <li class="articles__grid__item">
                        <ArticleCard {...props}/>
                        <script type="application/ld+json" set:html={JSON.stringify({
                          '@context': 'https://schema.org',
                          '@type': 'ItemList',
                          'itemListElement': {
                            '@type': 'ListItem',
                            'position': index + 2,
                            'url': new URL(`${Astro.url}/${article.slug}`, Astro.url).href,
                          },
                        })} />
                    </li>
                })}
        </ul>
    </section>
</BaseLayout>
