---
import { getCollection } from "astro:content";
import type { SeoMetadata } from "@const/types";
import FeaturedArticle from "@modules/articles/components/featuredArticle/FeaturedArticle.astro";
import ArticleCard from "@modules/core/components/articleCard/ArticleCard.astro";
import BaseLayout from "@modules/core/components/baseLayout/BaseLayout.astro";
import Breadcrumbs from "@modules/core/components/breadcrumbs/Breadcrumbs.astro";
import { getFeaturedArticle } from "@modules/core/utils/getFeaturedArticle";
import "./_articles.css";

const articles = await getCollection("articles");
const featuredArticle = getFeaturedArticle(articles);

const metadata: Partial<SeoMetadata> = {
	title: "Articles",
	description: "Articles I wrote while drinking coffee",
	...(featuredArticle?.data.featuredImage && { image: featuredArticle.data.featuredImage.url }),
};
---
<BaseLayout {...metadata}>
    <h1 class="articles__title section-title">The Blog</h1>
    <Breadcrumbs />
  {
      featuredArticle && <FeaturedArticle featuredArticle={featuredArticle} />
  }
    <section class="articles__grid common-wrapper">
        <ul class="articles__grid__list flex row-wrap">
          {
            articles
                .filter((article) => article.data.slug !== featuredArticle?.data.slug)
                .map((article, index) => (
                    <li class="articles__grid__item">
                        <ArticleCard {...article} />
                        <script is:inline type="application/ld+json" set:html={JSON.stringify({
                          '@context': 'https://schema.org',
                          '@type': 'ItemList',
                          'itemListElement': {
                            '@type': 'ListItem',
                            'position': index + 2,
                            'url': new URL(`${Astro.url}/${article.data.slug}`, Astro.url).href,
                          },
                        })} />
                    </li>
                ))}
        </ul>
    </section>
</BaseLayout>
