@layer scroll-top{
    .scroll-top__wrapper{
        animation: pop-in 1s var(--ease-elastic) forwards;
        animation-range: 0 50dvw;
        animation-timeline: scroll();
        box-shadow: 0.125rem 0.125rem 0.175rem var(--neutral-light-2);
        inset: auto 2rem 3rem auto;
        position: fixed;
        z-index: 100;
        svg {
            height: 3rem;
            rotate: 0.25turn;
            width: 3rem;
        }
        @media (max-width: 575px) {
            inset: auto 1rem 1rem auto;
        }
    }
    .scroll-top {
        background: var(--primary-light-2);
        height: fit-content;
        padding: 0.25rem;
        transition: background-color 2s;
        width: fit-content;
    }
}