---
import './menuButton.css';
---
<button class="header__menu-button">
    <span class="header__menu-button__outline outline-1" />
    <span class="header__menu-button__outline outline-2" />
    <span class="header__menu-text">Menu</span>
</button>
