@layer header.menuButton {
  .header__menu-button {
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
  }

  .header__menu-text {
    position: relative;
  }

  .header__menu-button__outline {
    position: absolute;
    width: 70px;
    height: 70px;
    translate: 0 -15%;
    border: 1px solid var(--neutral-main);
    z-index: 20;
  }

  .outline-1 {
    animation: morph 4s linear infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transition: border-radius 0.3s;

    &:hover {
      border-radius: 53% 47% 43% 57% / 51% 39% 61% 49%;
    }
  }

  .outline-2 {
    border-radius: 53% 47% 43% 57% / 51% 39% 61% 49%;
    z-index: -1;
  }
}
