---
import 'src/ui/components/organisms/header/components/menuButton/menuButton.css';
---
<button class="header__menu-button clickable">
    <span class="header__menu-button__outline outline-1" />
    <span class="header__menu-button__outline outline-2" />
    <span class="header__menu-text">Menu</span>
</button>
