@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.tag__title {
  @include typography-settings(8, 2, 8);
  color: color(primary);
  font-family: Zilla Slab, sans-serif;
  letter-spacing: .125rem;
  text-transform: uppercase;

  .tag__name {
    color: color(neutral);
  }
}

