---
import { GOOGLE_ANALYTICS_ID } from "astro:env/client";
import type { SeoMetadata } from "@const/types";
import Footer from "@modules/core/components/footer/Footer.astro";
import Head from "@modules/core/components/head/Head.astro";
import Header from "@modules/core/components/header/Header.astro";
import ScrollTop from "@modules/core/components/scrollTop/ScrollTop.astro";
import { getLocation } from "src/ui/modules/core/utils/getLocation";

type BaseLayoutProps = SeoMetadata;

const props = Astro.props as BaseLayoutProps;
const location = getLocation(Astro.url);
---
<html lang="en">
  <Head {...props} />
  <body>
  <noscript>
    <iframe src=`https://www.googletagmanager.com/ns.html?id=${GOOGLE_ANALYTICS_ID}`
                    height="0" width="0" style="display:none;visibility:hidden">

    </iframe>
  </noscript>
    <Header />
    <ScrollTop />
    <main class:list={[{ [`--is-${location}`]: location}]}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
