---
import type { SeoMetadata } from "@const/types";
import Footer from "@modules/core/components/footer/Footer.astro";
import Head from "@modules/core/components/head/Head.astro";
import Header from "@modules/core/components/header/Header.astro";
import ScrollTop from "@modules/core/components/scrollTop/ScrollTop.astro";
import { getLocation } from "@modules/core/utils/getLocation";
import { GOOGLE_ANALYTICS_ID } from "astro:env/client";
import { HIDE_CHROME } from "astro:env/client";

type BaseLayoutProps = SeoMetadata; 

const props = Astro.props as BaseLayoutProps;
const location = getLocation(Astro.url);
const className = { [`--is-${location}`]: location };
const isUnderConstruction = HIDE_CHROME && !["article", "tags"].includes(location ?? "");
---
<html lang="en" class:list={[className]}>
<Head {...props}><slot name="head" slot="head" /></Head>
<body>
<noscript>
    <iframe src=`https://www.googletagmanager.com/ns.html?id=${GOOGLE_ANALYTICS_ID}`
            height="0" width="0" style="display:none;visibility:hidden">

    </iframe>
</noscript>
{!HIDE_CHROME && <Header />}
{!HIDE_CHROME && <ScrollTop />}
<main class:list={[className]}>
    {isUnderConstruction
        ? <h1 style="text-align:center;margin-top:50vh;font-size:52px">Site under construction<br />We'll be back soon</h1>
        : <slot />
    }
</main>
<Footer />
</body>
</html>
