---
import { GOOGLE_ANALYTICS_ID } from "astro:env/client";
import type { SeoMetadata } from "@const/types";
import CookieConsent from "@modules/core/components/cookieConsent/CookieConsent";
import Footer from "@modules/core/components/footer/Footer.astro";
import Head from "@modules/core/components/head/Head.astro";
import Header from "@modules/core/components/header/Header.astro";
import ScrollTop from "@modules/core/components/scrollTop/ScrollTop.astro";

type BaseLayoutProps = SeoMetadata;

const props = Astro.props as BaseLayoutProps;
const { pathname } = Astro.url;
const isProjects = pathname.includes("/projects");
---

<html lang="en">
  <Head {...props} />
  <body>
  <noscript>
    <iframe src=`https://www.googletagmanager.com/ns.html?id=${GOOGLE_ANALYTICS_ID}`
                    height="0" width="0" style="display:none;visibility:hidden">

    </iframe>
  </noscript>
    <Header />
    <ScrollTop />
    <CookieConsent client:only="react" />
    <main class:list={[{ '--is-projects': isProjects }]}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
