@import '../../../styles/global/variables';
@import '../../../styles/global/animations';

.submit-button {
  align-items: center;
  background: none;
  border: 0;
  color: color(others, white);
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
  padding: 0;
  position: relative;
  width: 10rem;

  svg.submit-button__layer {
    display: block;
    fill: color(neutral);
    height: 100px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: -1.25rem;
    transition: fill .3s;
    width: 100%;
    z-index: 2;
  }

  svg.plane {
    display: block;
    fill: color(others, white);
    height: 1.75rem;
    left: 2rem;
    perspective: 500px;
    position: absolute;
    transform: translate3d(0, 0, 0);
    width: 26px;
    z-index: 3;
  }

  > ul {
    list-style: none;
    overflow: hidden;
    padding: 0 .25rem 0 0;
    position: relative;

    > li {
      display: inline-block;
      padding-left: 40px;
      position: relative;
      transition: transform .3s ease 0s, opacity .3s ease 0s;
      z-index: 2;
    }
  }

  &.--is-sending {
    svg.plane {
      animation: 1.5s orbit alternate linear;
    }
  }

  &.--is-sent {
    svg.submit-button__layer {
      fill: color(success);
    }
  }

  &.--is-error {
    svg.submit-button__layer {
      fill: color(error);
    }
  }
}

.submit-button__svg__wrapper {
  position: relative;
}

svg.plane__ko {
  left: -9rem;
  position: absolute;
  width: 1.5rem;
  z-index: 3;
}

.submit-button__submit__message {
  @include typography-settings(-2, 2, -2);
  font-family: Zilla Slab, sans-serif;
  width: 100%;
}
