@import '../../../styles/global/functions';
@import '../../../styles/global/variables';

.breadcrumbs__list {
  @include font-properties(tertiary);
  @include typography-settings(-2, -2, -2);
  display: flex;
  text-transform: uppercase;
}

.breadcrumb__item__link {
  color: color(primary);
}

.breadcrumb__item--is-current {
  font-weight: bold;
}

.breadcrumb__item__separator {
  padding: 0 .25rem;
}
