    .project-description {
        grid-area: Project-Information;
    }

    .project-image {
        grid-area: Project-Image;
    }

    .project-title {
        position: sticky;
        text-align: center;
        top: var(--header-height);
    }

    .project-section {
        display: grid;
        grid: 'Project-Image Project-Information' 1fr / 50% 50%;

        &:nth-child(odd) {
            grid: 'Project-Information Project-Image' 1fr / 50% 50%;
        }

        @media (width <= 720px) {
            grid: 'Project-Image' 1fr
            'Project-Information' 1fr / 1fr;

            &:nth-child(odd) {
                grid: 'Project-Image' 1fr
            'Project-Information' 1fr / 1fr;
            }
        }

        &:first-child {
            .project-description {
                margin-top: calc(-1 * var(--header-height));
            }
        }
    }

