---
import './project-section.css';

interface ProjectSectionProps {
    id: string;
}

const { id } = Astro.props as ProjectSectionProps;
---

<section id={id} class="project-section">
    <slot name="project-image" />
    <slot name="project-information" />
</section>
