@import '../../../styles/global/functions';

.author__wrapper {
  display: flex;
  flex-flow: row wrap;
  grid-area: Article-Author;
  justify-content: space-between;
  justify-self: center;
  margin-top: 2rem;
  width: 100%;
}

.author__image__inner {
  max-width: calc(100% / 8 - 1rem);
  min-width: calc(100% / 8 - 1rem);
  width: 100%;
}

.author__description__wrapper {
  align-self: center;
  max-width: calc(100% * 7 / 8 - 1rem);
  min-width: calc(100% * 7 /8  - 1rem);
  width: 100%;
}

.author__image {
  border-radius: 50%;
}

.author__description {
  @include font-properties(secondary);
  color: color(neutral, neutral-3);
  padding-right: 2rem;
}
