.article__author {
    color: currentColor;
    grid-area: Author;

    a {
        color: var(--primary-main);
        position: relative;
        z-index: 10;
    }

    &:has(a:hover) ~ .article__tags__list .article__tag__item {
        translate: 0 0;
    }
}

.article__author__name {
    display: inline-block;
}