---
import "src/ui/components/organisms/header/components/menuOverlay/menuOverlay.css";
---

<div class="header__menu-overlay__wrapper">
  <svg viewBox="0 0 1000 1000" class="header__menu-overlay">
    <path d="M0 2S175 1 500 1s500 1 500 1V0H0Z"></path>
  </svg>
</div>
