@layer testimonials {
    .testimonials__wrapper {
        margin-top: 9rem;
    }

    .testimonials__title,
    .testimonials__body {
        text-align: center;
    }

    .testimonials__title {
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        margin-bottom: 1.5rem;
    }

    .testimonials__body {
        max-width: var(--grid-small);
        width: 100%;
        margin: 0 auto 4rem;
    }
}
