.testimonial__author {
	grid-area: Testimonial-Author;
	isolation: isolate;
	text-transform: uppercase;
	transition-duration: 450ms;
	transition-property: translate;
	transition-timing-function: ease-in;

	@container home-page (width <= 575px) {
		padding-inline: 1rem;
	}
}
