@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.text-input__wrapper:not(.--is-hidden) {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 2rem;
  max-width: calc(100% / 2 - 1rem);
  min-width: calc(100% / 2 - 1rem);
  position: relative;
  width: 100%;

  .text-input__label__text {
    background-color: color(others, white);
    left: .75rem;
    position: absolute;
    top: .35rem;
    transition: all .2s ease-in-out;
  }
}

.text-input__wrapper.--is-hidden {
  display: none;
}

.text-input__wrapper.--has-value .text-input {
  + .text-input__label__text {
    @include typography-settings(-2, 2, -2);
    left: -.75rem;
    padding: 0 1rem;
    top: -.5rem;
  }
}

.text-input__label {
  font-family: Zilla Slab, sans-serif;
  position: relative;
}

.text-input__wrapper.--is-invalid .text-input {
  box-shadow: 0 0 0 1px color(error);
}

.text-input {
  box-shadow: 0 0 0 1px color(neutral, neutral-3);
  padding: .5rem .25rem;
  transition: box-shadow .3s ease;
  width: 100%;

  &:hover {
    box-shadow: 0 0 0 2px color(primary, primary-light-1);
  }

  &:active,
  &:focus,
  &:focus-within {
    box-shadow: 0 0 0 2px color(primary, primary-light-2);

    + .text-input__label__text {
      @include typography-settings(-2, 2, -2);
      left: -.5rem;
      padding: 0 .5rem;
      top: -.5rem;
    }
  }
}

.text-input__error-message {
  @include typography-settings(-2, 2, -2);
  bottom: -2.25rem;
  color: color(error);
  font-family: Zilla Slab, sans-serif;
  font-weight: bold;
  left: 0;
  position: absolute;
  right: 0;
  transform: translateY(-100%);
}
