@layer testimonials.testimonial.author {
  .testimonial__author {
    grid-area: Testimonial-Author;
    transition-duration: 450ms;
    transition-property: translate;
    transition-timing-function: ease-in;
  }
}
