@import '../../../styles/global/animations';
@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.filter__refinement-list {
  background: color(others, white);
  border-radius: $global-border-radius;
  box-shadow: 0 .5rem 1rem color(neutral, neutral-3);
  margin: .5rem 0;
  padding: .5rem;
  width: 100%;
}

.filter__refinement-details {
  padding-bottom: .5rem;

  ::-webkit-details-marker {
    display: none;
  }
}

.filter__refinement-details:not([open]) .filter__refinement-title {
  position: relative;

  &.--is-selected {
    color: color(primary);
    font-weight: bold;

    &::before {
      background-color: color(primary);
      border-radius: 50%;
      content: '';
      height: .5rem;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(100%, -50%);
      width: .5rem;
    }
  }
}


.filter__refinement-summary {
  border-bottom: 1px solid color(neutral, neutral-3);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 1rem;
  outline: none;
  user-select: none;

  .arrow-down {
    transition: transform .3s ease;
    width: .75rem;
  }
}

.filter__refinement-details[open] {
  .filter__refinement-summary {
    border-bottom-color: color(primary);
    color: color(primary);
    font-weight: bold;
  }

  .arrow-down {
    fill: color(primary);
    transform: rotate(180deg);
  }

  .refinement-list__list {
    animation: fade-in .5s forwards .1s;
    opacity: 0;
  }
}

