@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.home__latest-articles__wrapper {
  background-color: color(others, black);
  margin-top: 7rem;
  padding: 5rem 0;
}

.home__latest-articles__list {
  border-bottom: 1px solid color(others, white);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 5rem 1rem;
}


.home__latest-articles__title {
  @include font-properties(primary, light);
  @include typography-settings(5, 5, 5);
  color: color(others, white);
  letter-spacing: .3rem;
  text-transform: uppercase;

  strong {
    color: color(primary);
    font-weight: normal;
  }
}
