@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.home__latest-articles__wrapper {
  background-color: color(neutral);
  margin-top: 7rem;
  padding-top: 5rem;

  .swiper-wrapper {
    padding: 3rem 0;
    -webkit-mask: linear-gradient(90deg, transparent 0, black 15% 85%, transparent) 0 50% / 100% calc(100% - (2 * 1.25rem)) no-repeat,
    linear-gradient(0deg, black, black) 50% 0 / 100% 1.25rem no-repeat,
    linear-gradient(0deg, black, black) 50% 100% / 100% 1.25rem no-repeat;
    mask: linear-gradient(90deg, transparent 0, black 15% 85%, transparent) 0 50% / 100% calc(100% - (2 * 1.25rem)) no-repeat,
    linear-gradient(0deg, black, black) 50% 0 / 100% 1.25rem no-repeat,
    linear-gradient(0deg, black, black) 50% 100% / 100% 1.25rem no-repeat;
  }

  .swiper-button-prev,
  .swiper-button-next {
    background-color: color(others, white);
  }
}

.home__latest-articles__slider {
  margin: 0 1rem;

  @include breakpoint('medium') {
    margin: 0;
  }
}

.home__latest-articles__list {
  border-bottom: 1px solid color(others, white);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 5rem 1rem;
}


.home__latest-articles__title {
  @include typography-settings(4, 2, 4);
  color: color(others, white);
  font-family: Literata, serif;
  font-weight: 300;
  letter-spacing: .3rem;
  text-transform: uppercase;

  strong {
    color: color(primary);
    font-weight: normal;
  }
}
