---
import './tabs.css';
---

<section class="contact-tabs__wrapper">
    <div class="common-wrapper">
        <h4 class="contact-tabs__title section-title">Contact me</h4>
        <ul class="contact-tabs flex">
            <li class="contact-tab" data-target="tab1">Make an appointment</li>
            <li class="contact-tab" data-target="tab2">Email me</li>
        </ul>

        <div id="tab1" class="contact-tab__content">
            <div
                class="calendly-inline-widget"
                data-url="https://calendly.com/fbuireu/45min-meeting?hide_event_type_details=1&hide_gdpr_banner=1"
            >
            </div>
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        </div>
        <div id="tab2" class="contact-tab__content">Email form</div>
    </div>
</section>
<script>
    import { initTabs } from '@components/organisms/tabs/utils/changeTab';

    initTabs();
</script>
