@layer cities.city-card.image {
  .city-card__content__description {
    grid-area: City-Description;
    padding-bottom: 2rem;
    @media (max-width: 720px) {
      padding-bottom: 1rem;
      padding-inline: 1rem;
    }
  }
}
