@layer latest-articles {
    .latest-articles__wrapper {
        background-color: var(--neutral-main);
        padding: 2rem 0;
    }

    .latest-articles__title {
        color: var(--white);
        padding: 2rem 0;

        .latest-articles__title__link {
            color: var(--primary-main);
            display: inline-block;
        }
    }

    .latest__articles__list {
        gap: 0 2rem;
        padding: 2rem 0 4rem;
    }

    .latest__article__item__wrapper {
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
        height: fit-content;
        max-width: calc(100% / 4 - 2rem);
        position: relative;
        transform: translateZ(0);
        transition: 0.2s scale;
        width: 100%;
        will-change: transform;

        &:hover {
            scale: 1.05;
        }

        & > * {
            color: var(--white);
        }
    }

    .latest__article__link-card {
        inset: 0;
        position: absolute;
        width: 100%;
    }

    .latest__article__item {
        display: grid;

        &.--no-image-variant {
            gap: 0.5rem 0;
            grid:
                'Publish-Date' auto
                'Title' auto
                'Author' auto
                'Excerpt' auto
                'Tags' auto
                / 1fr;
        }

        &.--default-variant {
            gap: 0.5rem 0;
            grid:
                'Publish-Date' auto
                'Featured-Image' auto
                'Title' auto
                'Author' auto
                'Excerpt' auto
                'Tags' auto
                / 1fr;
        }
    }

    .latest__article__title {
        grid-area: Title;
        letter-spacing: normal;
    }

    .latest__article__item__publish-date {
        color: var(--primary-main);
        grid-area: Publish-Date;
    }

    .latest__article__author {
        color: var(--white);
        grid-area: Author;

        a {
            color: var(--primary-main);
            position: relative;
            z-index: 10;
        }
    }

    .latest__article__excerpt {
        color: var(--white);
        grid-area: Excerpt;
    }

    .latest__article__item__featured-image {
        grid-area: Featured-Image;
    }

    .latest__article__item__tags__list {
        font-size: 1.1rem;
        grid-area: Tags;
        position: relative;
        z-index: 10;
    }
}
