---
import { Image } from "astro:assets";
import bianca from "@assets/images/jpg/bianca-fiore.jpg";
import "./contact-intro.css";
---

<section class="contact-intro__wrapper common-wrapper">
  <div class="contact-intro__section --left flex column-wrap justify-center">
    <h1 class="contact-intro__title">Say hello!</h1>
    <div class="contact-intro__body font-serif flex column-wrap">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. At enim hic etiam dolore. Facillimum id quidem est,
        inquam. Vide, quantum, inquam, fallare, Torquate. […]
      </p>
    </div>
  </div>
  <div class="contact-intro__section --right flex row-wrap">
    <Image src={bianca} alt="Bianca Fiore" class="contact-intro__image" />
  </div>
</section>
