.contact-intro__wrapper {
	display: grid;
	gap: 0 8rem;
	grid: "AboutMe-Text AboutMe-Image" 1fr / 1fr 1fr;
	justify-items: self-start;

	@media (width <= 960px) {
		gap: 2rem 0;
		grid:
			"AboutMe-Text AboutMe-Text" min-content
			"AboutMe-Image AboutMe-Image" 1fr / 1fr 1fr;
	}
}

.contact-intro__section.--left {
	gap: 2rem 0;
	grid-area: AboutMe-Text;
	margin-block-end: 3rem;
	max-width: var(--grid-extra-small);

	@media (width <= 960px) {
		margin-block-end: 0;
		max-width: 100%;
		padding-inline: 1rem;
	}
}

.contact-intro__section.--right {
	gap: 2rem 0;
	grid-area: AboutMe-Image;
}
