.contact-intro-wrapper {
	display: grid;
	gap: 0 8rem;
	grid: "Contact-Text Contact-Image" 1fr / 1fr 1fr;
	justify-items: self-start;

	@container contact-page (width <= 960px) {
		gap: 2rem 0;
		grid:
			"Contact-Text" min-content
			"Contact-Image" 1fr / 1fr;
	}
}

.contact-intro__section.--left {
	gap: 2rem 0;
	grid-area: Contact-Text;
	margin-block-end: 3rem;
	max-width: var(--grid-extra-small);

	@container contact-page (width <= 960px) {
		margin-block-end: 0;
		max-width: 100%;
		padding-inline: 1rem;
	}
}

.contact-intro__section.--right {
	gap: 2rem 0;
	grid-area: Contact-Image;
}
