@import '../../../styles/global/functions';

.article__title {
  @include typography-settings(12, 2, 12);
  color: color(primary);
  font-family: Literata, serif;
  font-weight: 300;
  grid-area: Article-Title;
  letter-spacing: .25rem;
  text-transform: uppercase;
}
