@import '../../../styles/global/functions';

.article__title {
  @include font-properties(primary, light);
  @include typography-settings(12, 8 , 12);
  color: color(primary);
  grid-area: Article-Title;
  letter-spacing: .25rem;
  text-transform: uppercase;
}
