@layer header.menu {
  .header__menu {
    display: flex;
    height: 100vh;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100vw;

    & > div {
      height: 100%;
    }
  }

  .header__menu :is(a, span) {
    color: var(--white);
    line-height: 70%;
    position: relative;
    top: 150%;
  }

  .navigation__menu {
    align-items: center;
    background-color: var(--neutral-main);
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: center;
  }

  .navigation__menu__inner {
    display: grid;
    gap: 1rem;
    grid-template-areas: 'Header-Quote Divider Navigation';
    grid-template-columns: 50% 1fr 50%;
  }

  .navigation__menu__nav {
    gap: 3rem 0;
    grid-area: Navigation;
    padding-left: 4rem;
  }

  .navigation__menu__item,
  .navigation__menu__quote {
    position: relative;

    &::after {
      background: var(--neutral-main);
      content: '';
      height: 175%;
      left: -1.5rem;
      margin: 0 auto;
      position: absolute;
      width: 120%;
    }
  }

  .navigation__menu__item {
    span:first-child {
      margin-inline-end: 0.5rem;
    }

    &::after {
      top: 125%;
    }
  }

  .navigation__menu__quote {
    color: var(--white);
    font-size: clamp(2rem, 2rem, 2rem);
    grid-area: Header-Quote;
    padding-inline-end: 4rem;
    position: relative;
    text-align: end;

    & span:first-child {
      line-height: 140%;
    }

    &::after {
      top: 220px;
      width: 100%;
    }
  }

  .navigation__menu__divider {
    background-color: var(--white);
    grid-area: Divider;
    height: 150%;
    opacity: 0;
    transition: 0.3s opacity;
    translate: 0 -3rem;
    width: 1px;

    &.--is-menu-open {
      opacity: 1;
      transition-delay: 2.5s;
    }
  }

  .navigation__menu__link {
    display: inline-block;
    font-size: clamp(2rem, 5rem, 5rem);
    position: relative;
    text-transform: uppercase;

    &::after {
      background-color: currentColor;
      bottom: -1.25rem;
      content: '';
      height: 1px;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      transform: scaleX(0);
      transition: all 0.2s ease;
      width: 80%;
    }

    &.--is-current-page {
      color: var(--primary-main);
    }

    &:hover,
    &:focus {
      opacity: 1;

      &::after {
        transform: scaleX(1);
      }
    }
  }
}
