@import '../../../styles/global/functions';

.hit-card__subtitle {
  grid-area: Date-Author;
  letter-spacing: .25rem;
  color: color(others, white);
  justify-self: flex-start;
}

.hit-card__author {
  @include font-properties(secondary, bold);
  color: color(primary);
}

.hit-card__information {
  .hit-card__subtitle {
    @include typography-settings(1, 1, 1);
    margin-top: -1rem;
  }
}

.hit-card__link {
  .hit-card__subtitle {
    margin-top: -.5rem;
    padding-left: 1rem;
  }
}
