---
import Breadcrumbs from "@modules/core/components/breadcrumbs/Breadcrumbs.astro";
import "./projects-intro.css";
---
<section class="projects-intro common-wrapper">
    <div class="projects-intro__inner">
        <p class="editorial-eyebrow projects-intro__eyebrow">Selected work</p>
        <h1 class="projects-intro__title editorial-headline">Projects</h1>
        <Breadcrumbs />
    </div>
</section>