.legal-section {
	margin-block-end: 2rem;

	@media (width <= 1440px) {
		margin-inline: 1rem;
	}
}

.legal-section li {
	list-style: disc;
}
.legal-section ul {
	padding-left: 1rem;
}

.legal-page__email {
	letter-spacing: normal;
	text-decoration: none;
}

.legal-page__email,
.legal-section li {
	font-family: "Nunito Sans Variable", sans-serif;
}

.legal-page__email,
.legal-section {
	color: var(--neutral-main);
}
