---
import "./footer.css";
import logo from "@assets/images/svg/logo.svg?raw";
import EmailButton from "@components/atoms/emailButton/EmailButton.astro";
import ThemeToggle from "@components/atoms/themeToggle/ThemeToggle.astro";

const currentYear = new Date().getFullYear();
---
<footer>
  <section class="footer__wrapper common-wrapper">
    <div class="footer__logo flex row-wrap justify-center">
      <Fragment set:html={logo} />
    </div>
    <ThemeToggle />
    <ul class="footer__social__networks__list flex row-wrap justify-center">
      <li class="footer__social__networks__item">
        <a
          href="https://linkedin.com"
          target="_blank"
          rel="noopener noreferrer"
          class="link footer__social__networks__link"
        >
          LinkedIn
        </a>
      </li>
      <li class="footer__social__networks__item">
        <EmailButton classNames={'footer__social__networks__link'} />
      </li>
    </ul>
    <p class="footer__disclaimer flex justify-center">
      &copy; {currentYear} Bianca Fiore. All rights reserved.
    </p>
    <p class="footer__legal-pages flex justify-center">
      <a href="/terms-and-conditions" rel="nofollow noreferrer">Terms and Conditions</a>
      <a href="/privacy-policy" rel="nofollow noreferrer">Privacy Policy</a>
    </p>
  </section>
</footer>
