---
import Footer from "@components/organisms/footer/Footer.astro";
import ReactScriptProvider from "@ui/context/reactScriptProvider/ReactScriptProvider";
import Head from "@components/organisms/Head/Head.astro";
import Header from "@components/organisms/header/Header.astro";
import ScrollTop from "@components/atoms/scrollTop/ScrollTop.astro";
import CookieConsent from "@components/molecules/cookieConsent/CookieConsent";

interface BaseLayoutProps {
	title: string;
	description: string;
}
const { title, description } = Astro.props as BaseLayoutProps;
const { pathname } = Astro.url;
const isProjects = pathname.includes("/projects");
---

<html lang="en">
  <Head title={title} description={description} />
  <body>
  <noscript>
    <iframe src=`https://www.googletagmanager.com/ns.html?id=${import.meta.env.PUBLIC_GOOGLE_ANALYTICS_ID}`
                    height="0" width="0" style="display:none;visibility:hidden">

    </iframe>
  </noscript>
    <Header />
    <ScrollTop />
    <CookieConsent client:only="react" />
    <main class:list={[{ '--is-projects': isProjects }]}>
      <slot />
    </main>
    <Footer />
    <ReactScriptProvider client:only="react" />
  </body>
</html>
