---
import Footer from '@components/organisms/footer/Footer.astro';
import ReactScriptProvider from 'src/ui/context/reactScriptProvider/ReactScriptProvider';
import SiteHead from '@components/organisms/siteHead/SiteHead.astro';
import Header from '@components/organisms/header/Header.astro';

interface BaseLayoutProps {
    title: string;
    description: string;
}

const { title, description } = Astro.props as BaseLayoutProps;
---

<html lang="en">
    <SiteHead title={title} description={description} />
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
        <ReactScriptProvider client:only="react" />
    </body>
</html>
