.article-card__tag__item {
	--translate: 0 75px;
	transition: all 0.3s;
	transition-delay: calc(var(--inline-index) * 0.1s);
	translate: var(--translate);

	@media (width <= 720px) {
		--translate: 0 0;
		margin-inline-start: 1rem;
	}
}
