---
import { getCollection } from "astro:content";
import TestimonialsSlider from "../testimonialsSlider/TestimonialsSlider.astro";
import "./testimonials.css";

const testimonials = await getCollection("testimonials");
---
<section class="testimonials">
    <div class="testimonials__inner">
        <p class="editorial-eyebrow testimonials__eyebrow">Testimonials</p>
        <TestimonialsSlider testimonials={testimonials} />
    </div>
</section>
