---
import './header.css';
import MenuButton from 'src/ui/components/atoms/menuButton/MenuButton.astro';
import MenuOverlay from 'src/ui/components/atoms/menuOverlay/MenuOverlay.astro';
import Logo from 'src/ui/components/atoms/logo/Logo.astro';
import Menu from 'src/ui/components/atoms/menu/Menu.astro';
---
<header>
  <div class="header__backdrop" />
  <section class="common-wrapper flex row-wrap justify-flex-end align-center header__wrapper">
    <Logo />
    <MenuButton />
  </section>
  <MenuOverlay />
  <Menu />
</header>
