---
import "./header.css";
import Logo from "@components/atoms/logo/Logo.astro";
import Menu from "@components/organisms/header/components/menu/Menu.astro";
import MenuButton from "@components/organisms/header/components/menuButton/MenuButton.astro";
import MenuOverlay from "@components/organisms/header/components/menuOverlay/MenuOverlay.astro";
---

<header class="header">
    <div class="header__backdrop"></div>
    <section class="header__wrapper common-wrapper flex row-wrap justify-flex-end align-center">
        <Logo />
        <MenuButton />
    </section>
    <MenuOverlay />
    <Menu />
</header>
<script is:inline data-astro-rerun type="module">
  import { toggleMenu } from '/src/ui/components/organisms/header/utils/toggleMenu';
  import { backgroundObserver } from '/src/ui/components/organisms/header/utils/backgroundObserver';

  backgroundObserver();
  toggleMenu();
</script>
