---
import { Picture } from "astro-imagetools/components";
import './welcome.css';
---
<section class="welcome flex row-wrap">
    <h2 class="welcome__text__title --left">Hi! I'm</h2>
    <Picture src="/src/ui/assets/images/jpg/bianca-fiore.jpg" alt="Bianca Fiore" attributes={{ img: { class:'welcome__image' }}}/>
    <h1 class="welcome__text__title --right">Bianca Fiore</h1>
    <p class="welcome__text__body --right">Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
</section>

<script>

</script>
