---
import { Picture } from 'astro-imagetools/components';
import './welcome.css';
---
<section class="welcome flex row-wrap common-wrapper">
    <div class="welcome__text__section --left">
        <h2 class="welcome__text__title">Hi! I'm</h2>
    </div>
    <Picture src="/src/ui/assets/images/jpg/bianca-fiore.jpg" alt="Bianca Fiore"
             attributes={{ img: { class: 'welcome__image' } }} />
    <div class="welcome__text__section --right">
        <h1 class="welcome__text__title">Bianca</h1>
        <p class="welcome__text__body --right">
            Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum
            dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet.

            Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum
            dolor sit amet
        </p>
    </div>
</section>

<script>

</script>
