.slider__navigation {
	gap: 0 1rem;
	position: absolute;
	right: 0;
	z-index: 10;

	img {
		width: 3rem;
	}

	&.--is-home,
	&.--is-contact {
		color: light-dark(var(--background-main), var(--white));

		svg {
			color: currentColor;
		}
	}

	&.--is-home,
	&.--is-article,
	&.--is-contact {
		@media (width >= 1024px) {
			display: none;
		}
	}
}

.slider__navigation__button {
	height: 3rem;
	transition: transform 0.2s;
	width: 3rem;

	&.--is-right {
		rotate: 0.5turn;
	}
	&.--is-force-clickable {
		transform: scale(0.9);
	}
	&.--is-latest-articles-slider svg {
		height: 100%;
		width: 100%;
	}
}

.testimonials__wrapper .slider__navigation.--is-home {
	bottom: 4.25rem;
	color: var(--neutral-main);
}
