---
import { tagDTO } from "@application/dto/tag/tagDTO";
import type { RawTag } from "@application/dto/tag/types";
import Breadcrumbs from "@components/molecules/breadcrumbs/Breadcrumbs.astro";
import ArticleCard from "@components/organisms/articleCard/ArticleCard.astro";
import BaseLayout from "@components/templates/baseLayout/BaseLayout.astro";
import { client } from "@lib/contentful";
import type { InferGetStaticParamsType, InferGetStaticPropsType } from "astro";
import "./_tag.css";

export const prerender = true;

type TagProps = InferGetStaticPropsType<typeof getStaticPaths>;
type TagParams = InferGetStaticParamsType<typeof getStaticPaths>;

export async function getStaticPaths() {
	const { items: rawTags } = await client.getEntries<RawTag>({
		content_type: "tag",
	});

	const tags = await tagDTO.render(rawTags as RawTag[]);

	return Object.keys(tags).flatMap((letter) =>
		tags[letter].map((tag) => {
			return {
				params: {
					slug: tag.slug,
				},
				props: {
					tag,
				},
			};
		}),
	);
}

const { slug } = Astro.params as TagParams;
const { tag } = Astro.props as TagProps;
console.log("t", tag);
---
<BaseLayout>
    <Breadcrumbs />
    <h1 class="flex justify-center">#{slug}</h1>
    <section class="common-wrapper">
      <ul class="tag__article__list flex row-wrap">
        {tag.articles?.map((article, index) => {
          const href = `/articles/${article.slug}`;
          const props = { ...article, href };

          return (
              <li class="tag__article__item">
                  <ArticleCard {...props} />
                  <script type="application/ld+json" set:html={JSON.stringify({
                    '@context': 'https://schema.org',
                    '@type': 'ItemList',
                    'itemListElement': {
                      '@type': 'ListItem',
                      'position': index + 1,
                      'url': new URL(`/articles/${article.slug}`, Astro.url).href,
                    },
                  })} />
              </li>
          );
        })}
      </ul>
    </section>
</BaseLayout>
