.tag__article__list {
	grid-template-columns: 1fr;
	margin-block: 2rem 6rem;
	position: relative;
}

.tag__article__item:last-child .article-card__item.--is-landscape {
	border-block-end: 1px solid var(--line);
}
