.tags__list {
	--gap: 2rem;
	gap: calc(var(--gap) * 3) var(--gap);
	grid-template-columns: repeat(auto-fill, minmax(calc(100% / var(--items-per-row) - var(--gap)), 1fr));
	margin-block-start: 2rem;
	--items-per-row: 2;
	text-align: center;

	@container tags-page  (width <= 575px) {
		--gap: 0;
		--items-per-row: 1;
	}
}

.tags__item {
	margin-block-end: 1rem;
	width: 100%;
}

.tags__item__letter {
	color: var(--primary-main);
}

.tags__item__list {
	gap: 0.5rem 0;
}

.tag__item {
	text-transform: capitalize;
}
