@import '../../../styles/global/functions';

.article-card__title {
  @include font-properties(secondary, bold);
  @include typography-settings(4, 4, 4);
  color: color(others, white);
  grid-area: Title;
  justify-self: flex-start;
  padding: 1rem 1rem 0;
  transition: padding-top .3s ease;
}
