---
import "./error-layer.css";
import { PAGES_ROUTES } from '@const/index';
---

<section class="error-layer__wrapper common-wrapper flex column-nowrap justify-center align-center">
  <slot />
  <p>Why not try going back to the <a href={PAGES_ROUTES.HOME} class="error-layer__link underline-on-action">homepage</a>?</p>
</section>
<div class="travolta" />