---
import "./error-layer.css";
---

<section class="error-layer__wrapper common-wrapper flex column-nowrap justify-center align-center">
  <slot />
  <p>Why not try going back to the <a href="/" class="error-layer__link link">homepage</a>?</p>
</section>
<div class="travolta" />