---
import type { HTMLAttributes } from 'astro/types';
import './error-layer.css';

type ErrorLayerProps = HTMLAttributes<'section'>;

const { class: classNames, ...props } = Astro.props as ErrorLayerProps;
---
<section class:list={['error-layer__wrapper common-wrapper flex column-nowrap justify-center align-center', classNames]}
         {...props}>
    <slot />
</section>
<div class="travolta" />

<script>
  import { followMouse } from 'src/ui/modules/core/components/errorLayer/utils';

  followMouse();
</script>