---
interface EmailButtonProps {
	classNames?: string;
	text?: string;
}

const { classNames, text = "Email" } = Astro.props as EmailButtonProps;
---
<button class:list={[`${classNames} --underline-on-hover --add-letter-spacing mailTo__button`]}>{text}</button>

<script is:inline data-astro-rerun type="module">
  import { mailTo } from '/src/ui/modules/core/components/emailButton/utils/mailTo';

  mailTo();
</script>
