---
import "./email-button.css";

interface Props {
	classNames?: string;
	text?: string;
}

const { classNames, text = "Email" } = Astro.props;
---
<button class:list={[`${classNames} --underline-on-hover --add-letter-spacing mailTo__button`]}>{text}</button>

<script>
  import { mailTo } from "@modules/core/components/emailButton/utils/mailTo";

  mailTo();
</script>
