---
import { PAGES_ROUTES } from "@const/const";
import type { SeoMetadata } from "@const/types";
import BaseLayout from "@modules/core/components/baseLayout/BaseLayout.astro";
import ErrorLayer from "@modules/core/components/errorLayer/ErrorLayer.astro";
import "./_404.css";

const title = "404: Not Found";
const description = "It seems you've stumbled upon a page that doesn't exist.";

const metadata: Partial<SeoMetadata> = {
	title,
	description,
	robots: {
		index: false,
		follow: false,
	},
};
---
<BaseLayout location="404" {...metadata}>
    <ErrorLayer class="error-404">
        <div class="error-404__stage">
            <h1 class="error-404__title">
                404
                <span aria-hidden="true">404</span>
            </h1>
        </div>
        <div class="error-404__cloak-wrapper" aria-hidden="true">
            <div class="error-404__cloak-container">
                <div class="error-404__cloak"></div>
            </div>
        </div>
        <div class="error-404__info">
            <p>{description}</p>
            <a class="error-404__link --is-clickable --underline-on-hover" href={PAGES_ROUTES.HOME}>
                <span class="error-404__arrow" aria-hidden="true">←</span> Back home
            </a>
        </div>
    </ErrorLayer>
</BaseLayout>
