---
import type { SeoMetadata } from "@const/types";
import BaseLayout from "@modules/core/components/baseLayout/BaseLayout.astro";
import ErrorLayer from "@modules/core/components/errorLayer/ErrorLayer.astro";
import { PAGES_ROUTES } from "src/const";
import Spotlight from "src/ui/modules/core/components/spotlight/Spotlight.astro";

const title = "404: Not Found";
const description = "It seems you've stumbled upon a page that doesn't exist.";

const metadata: Partial<SeoMetadata> = {
	title,
	description,
	robots: {
		index: false,
		follow: false,
	},
};
---
<BaseLayout {...metadata}>
    <ErrorLayer>
        <div class="error-layer__reveal_spotlight">
            <h1>{title}</h1>
            <p>{description}</p>
            <p>Why not try going back to the <a href={PAGES_ROUTES.HOME}
                                                class="error-layer__link --underline-on-hover">homepage</a>?</p>
        </div>
    </ErrorLayer>
    <Spotlight />
</BaseLayout>
