---
import BaseLayout from '@components/templates/baseLayout/BaseLayout.astro';
// todo: add CIs
// todo: add vitest
---

<BaseLayout title="" description="">
  <h1>Hello, Astronaut!</h1>
  <p>
    Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This
    template serves as a lightweight, minimally-styled starting point for anyone looking to
    build a personal website, blog, or portfolio with Astro.
  </p>
  <p>
    This template comes with a few integrations already configured in your
    <code>astro.config.mjs</code> file. You can customize your setup with
    <a href="https://astro.build/integrations">Astro Integrations</a> to add tools like
    Tailwind, React, or Vue to your project.
  </p>
</BaseLayout>
