---
import BaseLayout from "@components/templates/baseLayout/BaseLayout.astro";
import { Image } from "astro:assets";
import ProjectSection from "@components/atoms/projectSection/ProjectSection.astro";

const images = import.meta.glob("/src/assets/**/*.{jpeg,jpg,png,gif}");
---

<BaseLayout title="" description="">
  <ProjectSection id="stories-of-impact">
    <div class="project-description flex column-wrap justify-center align-center" slot="project-information">
      <h2 class="project-title">Stories of Impact</h2>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="project-image" slot="project-image">
      <Image src={images['/src/assets/images/jpg/stories-of-impact.jpg']() as ImageType} alt="Stories of Impact" />
    </div>
  </ProjectSection>
  <ProjectSection id="reports-and-thought-leadership">
    <div class="project-description flex column-wrap justify-center align-center" slot="project-information">
      <h2 class="project-title">Reports and Thought Leadership</h2>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="project-image" slot="project-image">
      <Image src={images['/src/assets/images/jpg/thought-leadership.jpg']() as ImageType} alt="Reports & Thought Leadership" />
    </div>
  </ProjectSection>
  <ProjectSection id="creative-direction">
    <div class="project-description flex column-wrap justify-center align-center" slot="project-information">
      <h2 class="project-title">Creative Direction</h2>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="project-image" slot="project-image">
      <Image src={images['/src/assets/images/jpg/creative-direction.jpg']() as ImageType} alt="Creative Direction" />
    </div>
  </ProjectSection>
  <ProjectSection id="web-content">
    <div class="project-description flex column-wrap justify-center align-center" slot="project-information">
      <h2 class="project-title">Web Content</h2>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="project-image" slot="project-image">
      <Image src={images['/src/assets/images/jpg/web-content.jpg']() as ImageType} alt="Web Content" />
    </div>
  </ProjectSection>
</BaseLayout>
