---
import BaseLayout from '@components/templates/baseLayout/BaseLayout.astro';
import '../ui/components/molecules/welcome/welcome.css';
---

<BaseLayout title="" description="">
    <h1>Hello, Projects!</h1>
    <section id="stories-of-impact">
        <h2>Stories of Impact</h2>
    </section>
    <section id="reports-and-thought-leadership">
        <h2>Reports and Thought Leadership</h2>
    </section>
    <section id="creative-direction">
        <h2>Creative Direction</h2>
    </section>
    <section id="web-content">
        <h2>Web Content</h2>
    </section>
</BaseLayout>
