@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.home__latest-articles__item {
  max-width: calc(100% / 4 - 2.5rem);
  width: 100%;
}

.home__latest-articles__item__card {
  color: color(others, white);
  display: grid;
  grid: 'HomeHomeLatestArticle-Title HomeHomeLatestArticle-Title' 1fr
  'HomeLatestArticle-Title HomeLatestArticle-Title' max-content
  'HomeLatestArticle-Author HomeLatestArticle-Date' auto
  / max-content 1fr;
  text-align: left;
}

.home__latest-articles__item:not(:last-child) {
  margin-right: 2.5rem;
}

.home__latest-articles__item__image {
  grid-area: HomeHomeLatestArticle-Title;
}

.home__latest-articles__item__title {
  @include typography-settings(1, 1, 2);
  font-weight: normal;
  grid-area: HomeLatestArticle-Title;
}

.home__latest-articles__item__tag__item {
  color: color(neutral, neutral-3);
  flex-basis: 100%;
}

.home__latest-articles__author,
.home__latest-articles__date {
  @include font-properties(secondary);
}

.home__latest-articles__author {
  color: color(primary);
  grid-area: HomeLatestArticle-Author;
}

.home__latest-articles__date {
  grid-area: HomeLatestArticle-Date;
  margin-left: .25rem;
}
