@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.home__latest-articles__item {
  width: 100%;
}

.home__latest-articles__item__card {
  color: color(others, white);
  display: grid;
  grid: 'HomeLatestArticle-Image HomeLatestArticle-Image' 1fr
  'HomeLatestArticle-Title HomeLatestArticle-Title' max-content
  'HomeLatestArticle-Author HomeLatestArticle-Date' auto
  / max-content 1fr;
  text-align: start;
  gap: .5rem;
  @include breakpoint('medium') {
    gap: .25rem;
  }
}

.home__latest-articles__item:not(:last-child) {
  margin-right: 2.5rem;
}

.home__latest-articles__item__image {
  aspect-ratio: 2;
  grid-area: HomeLatestArticle-Image;

  @include breakpoint('medium') {
    aspect-ratio: auto;
  }
}

.home__latest-articles__item__title {
  @include typography-settings(3, 2, 2);
  font-weight: normal;
  grid-area: HomeLatestArticle-Title;

  @include breakpoint('medium') {
    @include typography-settings(1, 2, 2);

  }
}

.home__latest-articles__item__tag__item {
  color: color(neutral, neutral-3);
  flex-basis: 100%;
}

.home__latest-articles__author,
.home__latest-articles__date {
  font-family: Zilla Slab, sans-serif;
  font-weight: 600;
}

.home__latest-articles__author {
  color: color(primary);
  grid-area: HomeLatestArticle-Author;
}

.home__latest-articles__date {
  font-weight: 600;
  grid-area: HomeLatestArticle-Date;
  margin-left: .25rem;
}
