@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.about-me__latest-articles__item__card {
  display: grid;
  gap: 1rem 0;
  grid: 'AboutMeLatestArticle-Image AboutMeLatestArticle-Image' 1fr
  'AboutMeLatestArticle-Title AboutMeLatestArticle-Title' max-content
  'AboutMeLatestArticle-Author AboutMeLatestArticle-Date' auto
  'AboutMeLatestArticle-Summary AboutMeLatestArticle-Summary' max-content
  / max-content 1fr;
  text-align: start;
}

.about-me__latest-articles__item:not(:last-child) {
  margin-right: 2.5rem;
}

.about-me__latest-articles__item__image {
  grid-area: AboutMeLatestArticle-Image;
}

.about-me__latest-articles__item__title {
  @include typography-settings(2, 2, 2);
  font-weight: normal;
  grid-area: AboutMeLatestArticle-Title;
}

.about-me__latest-articles__item__tag__item {
  color: color(neutral, neutral-3);
  flex-basis: 100%;
}

.about-me__latest-articles__author,
.about-me__latest-articles__date {
  font-family: Zilla Slab, sans-serif;
}

.about-me__latest-articles__author {
  color: color(primary);
  grid-area: AboutMeLatestArticle-Author;
}

.about-me__latest-articles__date {
  grid-area: AboutMeLatestArticle-Date;
  margin-left: .25rem;
}

.about-me__latest-articles__summary {
  @include typography-settings(0, 2, 0);
  -webkit-box-orient: vertical;
  display: -webkit-box;
  grid-area: AboutMeLatestArticle-Summary;
  -webkit-line-clamp: 7;
  overflow: hidden;
}

