@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.articles-card__list__masonry {
  display: flex;
  margin-left: -2rem;
  width: auto;
}

.articles-card__list__item {
  background-clip: padding-box;
  padding-left: 2rem;

  > li {
    margin-bottom: 1rem;
  }
}
