@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.articles-card__list__masonry {
  display: flex;
  flex-flow: row wrap;
  grid-area: Hits;
  justify-content: flex-start;
  margin-left: -2rem;
  margin-top: 5rem;
}

.articles-card__list__item {
  background-clip: padding-box;
  padding-left: 2rem;

  > article {
    margin-bottom: 1rem;
  }
}
