    .breadcrumb__item,
    .breadcrumbs__list {
        gap: 1rem;
    }

    .--is-current-page {
        color: var(--primary-main)
    }

    .--is-article .breadcrumbs__list {
        justify-content: flex-start;
        margin: 0 auto;
        max-width: var(--grid-small);
        padding-block-start: 2rem;
        width: 100%;
    }

    .--is-articles .breadcrumbs__list {
        margin-bottom: 5rem;

        @media (width <= 960px) {
            margin-bottom: 2rem;
        }
    }

    .--is-projects .breadcrumbs__list {
        display: none;
    }

    .--is-about .breadcrumbs__list,
    .--is-contact .breadcrumbs__list {
        justify-content: flex-start;
        padding-top: 2rem;
    }

