---
import "./menu-button.css";
---
<button class="header__menu-button --is-clickable">
  <span class="header__menu-button__outline outline-1"></span>
  <span class="header__menu-button__outline outline-2"></span>
  <span class="header__menu-text">Menu</span>
</button>
