---
import type { HTMLAttributes } from "astro/types";

type HeaderLinkProps = HTMLAttributes<"a">;

const { href, class: classNames, ...props } = Astro.props as HeaderLinkProps;
const TRAILING_SLASH_REGEX = /\/$/;
const HOMEPAGE = "/";

const { pathname } = Astro.url;
const isCurrentPage =
	href === pathname ||
	(href !== HOMEPAGE && pathname.includes(String(href))) ||
	href === pathname.replace(TRAILING_SLASH_REGEX, "");
---

<a href={href} class:list={[`--is-clickable ${classNames}`, { '--is-current-page': isCurrentPage }]} {...props}>
  <slot />
</a>
