@import '../../../styles/global/functions';

.comments__wrapper {
  border-top: 1px solid color(neutral, neutral-4);
  margin-top: 3rem;
  padding-top: 1rem;
  text-align: start;
}

.comments__title, .comments__subtitle {
  @include font-properties(primary, light);
}

.comments__title {
  @include typography-settings(5, 5, 5);
}

.comments__subtitle {
  @include typography-settings(2, 2, 2);
}
