---
interface SliderShellProps {
	class?: string;
	showTrack?: boolean;
}

const { class: className, showTrack = true } = Astro.props as SliderShellProps;
---

<div class={className}>
	<ul class="slider__track" data-track={showTrack}>
		<slot />
	</ul>
</div>
