@layer article-card {
    .article__item__wrapper {
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
        max-width: calc(100% / 4 - 2rem);
        position: relative;
        transform: translateZ(0);
        transition: 0.2s scale;
        width: 100%;
        will-change: transform;
    }

    .article__link-card {
        inset: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .article__item {
        color: var(--white);
        display: grid;
        gap: 0.5rem 0;
        height: 100%;

        &.--no-image-variant {
            grid:
        'Publish-Date' auto
        'Title' 1fr
        'Author' auto
        'Excerpt' auto
        'Tags' auto
        / 1fr;
        }

        &.--default-variant {
            grid:
        'Publish-Date' auto
        'Featured-Image' 1fr
        'Title' auto
        'Author' auto
        'Excerpt' auto
        'Tags' auto
        / 1fr;
        }

        &.--is-articles, &.--is-about{
            color: var(--neutral-main)
        }
    }

    .article__title {
        align-self: center;
        color: currentColor;
        grid-area: Title;
        letter-spacing: normal;
    }

    .article__item__publish-date {
        grid-area: Publish-Date;
    }

    .article__author {
        color: currentColor;
        grid-area: Author;

        a {
            color: var(--primary-main);
            position: relative;
            z-index: 10;
        }
    }

    .article__excerpt {
        color: currentColor;
        grid-area: Excerpt;
    }

    .article__item__featured-image {
        grid-area: Featured-Image;
        object-fit: cover;
        z-index: 0;
    }

    .article__tags__list {
        color: currentColor;
        gap: 0 1rem;
        grid-area: Tags;
        position: relative;
        z-index: 10;
    }
}