.contact-tabs__wrapper {
	background-color: var(--neutral-light-4);
	margin: 2rem 0;
	padding: 3rem 0;
}
.contact-tabs__inner__wrapper {
	@media (width <= 960px) {
		padding-inline: 1rem;
	}
}

.contact-tabs__header {
	gap: 1rem 0;
	margin: 3rem 0;
}

.contact-tabs__divider {
	background-color: var(--neutral-light-3);
	height: 1px;
}

.contact-tabs__title {
	text-align: start;
}

.contact-tab {
	color: var(--neutral-main);
	cursor: pointer;
	padding: 1rem;
	position: relative;
	--border-width: 2px;
}

.contact-tab.--is-active {
	border-bottom: 2px solid var(--neutral-main);
	font-weight: bold;
}

.contact-tab__content {
	display: none;
	padding: 3rem 0;

	&.--is-active {
		display: block;
	}
}

.calendly-inline-widget {
	height: 700px;
}
