.article-card__list {
  display: flex;
  flex-flow: row wrap;
  grid-area: ArticlesCard;
  justify-content: flex-start;
  margin-top: 5rem;
}

.filter__results {
  margin: 0 auto;

  .--no-results-found {
    margin-top: 4rem;
  }
}
