.articles-card__list {
  display: flex;
  flex-flow: row wrap;
  grid-area: Hits;
  justify-content: flex-start;
  margin-top: 5rem;
}

.filter__results {
  margin-inline: auto;

  .--no-results-found {
    margin-top: 4rem;
  }
}
