@import '../../../styles/global/functions';

.billboard {
  background-color: color(neutral);
  height: 50vh;

  .wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    text-align: left;
  }

  .article-information {
    transform: translateY(-25%);
  }
}
