@import '../../../styles/global/functions';
@import '../../../styles/global/variables';
@import '../../../styles/global/animations';

.article__reading-time {
  align-items: center;
  border: 2px solid color(others, white);
  border-radius: $global-border-radius;
  color: color(others, white);
  display: flex;
  flex-flow: row wrap;
  grid-area: ReadingTime;
  padding: .25rem;
  width: fit-content;

  .clock {
    fill: color(others, white);
    height: 1.5rem;
    margin-right: .5rem;
    width: 1.5rem;

    &__handles {
      animation: clock-spin 1.5s linear infinite paused;
      transform-origin: center center;
    }
  }

  &:hover {
    .clock__handles {
      animation-play-state: running;
    }
  }
}

.article-card__link {
  .article__reading-time {
    margin-left: 1rem;
  }
}
