@layer cookie-consent{
    .cookies_consent_button {
        background-color: var(--primary-light-2);
        box-shadow: 0.125rem 0.125rem 0.175rem var(--neutral-light-2);
        height: fit-content;
        inset: auto 0 3rem 2rem;
        position: fixed;
        width: fit-content;
        z-index: 100;

        @media (width <= 575px) {
            inset: auto 0 1rem 1rem;
        }
    }
    .cookie_consent_icon {
        fill: var(--primary-dark-3);
        height: 3rem;
        padding: .5rem;
        width:3rem;
    }
}