@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.testimonial {
  background-color: color(others, white);
  cursor: grab;
  display: grid;
  gap: 0 2rem;
  grid: 'Testimonial-Image Testimonial-Image . .' calc(100% / 4)
        'Testimonial-Image Testimonial-Image Testimonial-Body Testimonial-Body' 1fr
        'Testimonial-Image Testimonial-Image Testimonial-Footer Testimonial-Footer' auto
        'Testimonial-Image Testimonial-Image Testimonial-Footer Testimonial-Footer' auto
        / 1fr 1fr 1fr 1fr;
  width: 100%;

  &:not(.--is-active) {
    opacity: .25;
  }
}

.testimonial__image {
  grid-area: Testimonial-Image;
}

.testimonial__quote {
  fill: color(primary);
  height: auto;
  left: 50%;
  position: absolute;
  top: 4rem;
  transform: translate(50%, -100%);
  width: 2.5rem;
}

.testimonial__body,
.testimonial__author,
.testimonial__description {
  text-align: start;
}

.testimonial__body,
.testimonial__footer {
  justify-self: flex-start;
}

.testimonial__body {
  @include typography-settings(1, 2, 1);
  color: color(others, black);
  font-family: Zilla Slab, sans-serif;
  grid-area: Testimonial-Body;
  position: relative;
}

.testimonial__footer {
  display: flex;
  flex-flow: column wrap;
  grid-area: Testimonial-Footer;
}

.testimonial__author {
  @include typography-settings(2, 2, 2);
  color: color(others, black);
  font-family: Literata, serif;
  font-weight: 300;
  margin-bottom: .5rem;
  text-transform: uppercase;
}

.testimonial__description {
  color: color(neutral, neutral-2);
  font-family: Zilla Slab, sans-serif;
}
