@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.navigation__wrapper {
  background-color: color(neutral);
  display: flex;
  flex-flow: row wrap;
  height: 50vh;
  justify-content: center;
  left: 0;
  max-height: 45vh;
  max-width: 100vw;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: transform .6s ease-out;
  width: 100%;
  z-index: 20;

  &.--is-visible {
    box-shadow: 0 .5rem .5rem -.5rem color(neutral);
    transform: translateY(0);
  }
}

.navigation__wrapper__inner {
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 2rem;
  max-width: map-get($grid, 'large');
  padding-bottom: 2rem;
  width: 100%;
}

.navigation__navbar {
  padding: 0 5rem 5rem;
  position: relative;

  &::after {
    background-color: color(others, white);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
  }
}

.navigation__wrapper__body {
  @include typography-settings(5, 5, 5);
  @include font-properties(primary);
  color: color(others, white);
  max-width: 50%;
  padding-right: 5rem;
  position: relative;
  text-align: right;
  width: 100%;
}

.navigation__list {
  @include typography-settings(1.5, 1.5, 1.5);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 1rem 0;
  text-align: left;
}

.navigation__item:not(:last-child) {
  margin-bottom: 1rem;
}

.navigation__item__link {
  @include font-properties(primary);
  color: color(others, white);
  letter-spacing: 2px;
  position: relative;
  transition: all .3s ease;

  &:hover {
    color: color(primary);
  }

  &.--is-active {
    @include font-properties(secondary, bold);
    color: color(primary, primary-dark-1);
  }
}
