@layer testimonials.navigation {
    .testimonials__navigation {
        gap: 0 1rem;
        position: absolute;
        right: 0;
        z-index: 10;

        img {
            width: 3rem;
        }
    }

    .testimonials__navigation__button {
        &.--right {
            rotate: 0.5turn;
        }
    }
}
