@layer testimonials.navigation {
  .testimonials__navigation {
    position: absolute;
    right: 0;
    z-index: 10;

    img {
      width: 3rem;
    }
  }

  .testimonials__navigation__button {
    cursor: pointer;

    &.--right {
      rotate: 180deg;
    }

    &.--left {
      translate: 0 -1rem;
    }
  }
}
