.about-latest-articles-wrapper {
	margin-block-end: 12rem;

	@container about-page (width <= 720px) {
		margin-block-end: 5rem;
	}
}

.about-latest-articles__title {
	margin-block: 5rem;
}

.about-latest-articles__title__link {
	color: var(--gold);
	display: inline-block;

	@container about-page (width <= 720px) {
		margin-block-end: 2rem;
	}
}

.about-latest-articles__inner {
	display: grid;
	grid: "Latest-Articles" 1fr / auto;
}

.about-latest-articles__slider {
	--slides-per-view: 1;
	--slider-gap: 0rem;

	grid-area: Latest-Articles;

	@media (width >= 1024px) {
		--slides-per-view: 2;
		--slider-gap: 2rem;
	}
}
