---
import { getCollection } from "astro:content";
import { PAGES_ROUTES } from "@const/index";
import { AboutLatestArticlesSlider } from "../aboutLatestArticlesSlider";
import "./about-latest-articles.css";

const articles = await getCollection("articles");
---
<section class="about-latest-articles-wrapper common-wrapper">
    <h2 class="about-latest-articles__title section-title">
        Fresh from <a class="--is-clickable --underline-on-hover" href={`${PAGES_ROUTES.ARTICLES}`}>the blog</a>
    </h2>
    <div class="about-latest-articles__inner">
        <div class="about-latest-articles__quote-wrapper">
            <h4 class="about-latest-articles__quote">Lorem ipsum dolir sit Amet. Dolor sit amet.</h4>
            <h6 class="about-latest-articles__quote__author">Ferran Buireu</h6>
        </div>
        <AboutLatestArticlesSlider client:load articles={articles} />
        <script is:inline type="application/ld+json" set:html={JSON.stringify({
          '@context': 'https://schema.org',
          '@type': 'ItemList',
          'itemListElement': articles.map((article, index) => ({
            '@type': 'ListItem',
            'position': index + 1,
            'url': new URL(article.data.slug, Astro.url).href,
          })),
        })} />
    </div>
</section>
