@import '../../../styles/global/variables';

.article-card__item {
  flex: 0 0 25%;
  max-width: calc(100% / 4 - .25rem);
  width: 100%;

  &.--is-featured {
    flex: 0 0 50%;
    max-width: calc(100% / 2 - .5rem);
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .article-card__image::after,
    .article-card__image::before {
      transform: scale(1.2);
    }
  }

  .article-card__image {
    border-radius: $global-border-radius;
    overflow: hidden;
  }
}
