@import '../../../styles/global/functions';

.language-switcher {
  &__wrapper {
    cursor: pointer;

    span {
      display: flex;
      letter-spacing: 2px;
      transition: transform .3s ease-in;
      will-change: transform;
    }

    .arrow-down {
      margin-left: .5rem;
      max-width: .75rem;
      transition: transform .3s ease-in;
      width: 100%;
      will-change: transform;
    }

    &.--is-open .arrow-down {
      transform: rotate(180deg);
    }

    &.--is-open .language-switcher__list {
      opacity: 1;
      visibility: visible;
    }
  }

  &__list {
    background-color: color(others, white);
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 10;
  }

  &__item {
    letter-spacing: 2px;
    text-align: left;
    width: 100%;
  }
}
