.language-switcher {
  &__wrapper {
    cursor: pointer;

    span {
      display: flex;
      transition: transform .3s ease;
    }

    span:active {
      transform: scale(.975);
    }

    svg {
      margin-left: .5rem;
      transition: transform .3s ease;
      width: 1rem;
    }

    &.--is-open svg {
      transform: rotate(180deg);
    }

    &.--is-open .language-switcher__list {
      opacity: 1;
      visibility: visible;
    }
  }

  &__list {
    opacity: 0;
    position: absolute;
    transition: all .3s ease;
    visibility: hidden;
    z-index: 10;
  }

  &__item {
    text-align: left;
    width: 100%;
  }
}
