footer {
	background-color: var(--neutral-main);
	color: var(--white);
	padding: 2rem 0 0;
	position: relative;
	z-index: 10;
}

.footer-wrapper {
	padding: 2rem 0 1rem;

	@media (width <= 720px) {
		padding: 0;
	}

	@media (width <= 575px) {
		display: flex;
		flex-flow: column wrap;
	}
}

.footer__disclaimer {
	color: var(--white);
	margin: 0 auto;
}

.footer__legal-pages {
	color: var(--white);
	font-size: var(--font-size-xs);
	gap: 0 1rem;
	text-underline-offset: 0.2rem;
}

.footer__logo {
	svg {
		width: clamp(11rem, 40vw, 14rem);
		height: auto;

		text {
			font-family: var(--font-display);
		}

		.logo__name {
			fill: currentColor;
		}

		.logo__surname {
			fill: var(--gold);
		}
	}
}

.cookies_consent_button {
	align-self: center;
	line-height: inherit;
}
