---
import Logo from "@assets/images/svg/logo.svg";
import { PAGES_ROUTES } from "@const/index";
import CookieConsent from "@modules/core/components/cookieConsent/CookieConsent";
import SocialNetworks from "@modules/core/components/socialNetworks/SocialNetworks.astro";
import ThemeToggle from "@modules/core/components/themeToggle/ThemeToggle.astro";
import "./footer.css";

const currentYear = new Date().getFullYear();
---
<footer>
  <section class="footer__wrapper common-wrapper">
    <div class="footer__logo flex row-wrap justify-center">
      <a href={PAGES_ROUTES.HOME}>
          <Logo />
      </a>
    </div>
    <ThemeToggle />
    <SocialNetworks />
    <p class="footer__disclaimer flex justify-center">
      &copy; {currentYear} &nbsp; <span translate="no">Bianca Fiore</span>. All rights reserved.
    </p>
    <p class="footer__legal-pages flex justify-center">
      <a href={PAGES_ROUTES['TERMS-AND-CONDITIONS']} rel="nofollow noreferrer" class="--underline-on-hover">Terms and Conditions</a>
      <a href={PAGES_ROUTES['PRIVACY-POLICY']}  rel="nofollow noreferrer" class="--underline-on-hover">Privacy Policy</a>
      <CookieConsent client:only="react" />
    </p>
  </section>
</footer>
