@layer testimonials.testimonial.author {
  .testimonial__author {
    font-size: 1.25rem;
    grid-area: Testimonial-Author;
    isolation: isolate;
    text-transform: uppercase;
    transition-duration: 450ms;
    transition-property: translate;
    transition-timing-function: ease-in;
  }
}
