@import '../../../styles/global/functions';

.billboard {
  background-color: color(neutral);
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  max-height: 40vh;
  min-height: 40vh;

  .article-information {
    align-content: center;
    display: grid;
    gap: 1rem 0;
    grid: 'Title Title Title Title' auto 'Date-Author Date-Author . .' auto 'Summary Summary Summary Summary' auto 'ReadingTime . . .' auto / 1fr 1fr 1fr 1fr;
    justify-items: start;
    padding: 1rem 0 2rem;
  }
}
