.related-articles {
	background-color: var(--neutral-main);
	margin-block-start: 6rem;
	padding-block: 4rem;

	@container article-page (width <= 960px) {
		margin-block-start: 4rem;
		padding-block: 3rem;
	}
}

.related-articles-wrapper {
	margin-inline: auto;
}

.related-articles__title {
	color: var(--ink);
	margin-block-end: 2rem;
}
