@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.testimonials__wrapper {
  background-color: color(neutral, neutral-5);
  margin: 2rem 0;
  padding: 2rem 0;

  @include breakpoint('medium') {
    margin: 5rem 0;
    padding: 3rem 0;
  }
}

.testimonials__title,
.testimonials__subtitle {
  display: inherit;
  font-family: Literata, serif;
  font-weight: 300;
  text-align: center;
}

.testimonials__title {
  @include typography-settings(5, 2, 5);
  letter-spacing: .3rem;
  text-transform: uppercase;
}

.testimonials__subtitle {
  @include typography-settings(0, 2, 0);
  padding: 1rem 0 2rem;
}

.testimonials__slider {
  .swiper-slide {
    transform: scale(.85);
    transition: all .3s linear;
  }

  .swiper-slide-active {
    transform: scale(1);
  }

  .swiper-button-prev,
  .swiper-button-next {
    background: url('../../../assets/images/svg/traditional-arrow-right.svg') no-repeat center center / 100% auto;
    -webkit-tap-highlight-color: transparent;
    top: 125%;
    transform: translateY(50%);

    @include breakpoint('extra-small') {
      top: 105%;
    }
  }

  .swiper-button-prev {
    transform: translateY(50%) rotate(180deg);
  }
}
