---
import type { CollectionEntry } from "astro:content";
import "./table-of-contents.css";

interface TableOfContentsProps {
	tableOfContents: CollectionEntry<"articles">["data"]["tableOfContents"];
}

const { tableOfContents } = Astro.props as TableOfContentsProps;
---
<aside class="article__table-of-contents__wrapper" role="complementary">
    <nav class="article__table-of-contents__nav"  aria-label="Table of contents">
        <ul class="article__table-of-contents__list flex column-nowrap">
            {tableOfContents.map(({ id, heading, level}) => (
                <li class="article__table-of-contents__item --underline-on-hover --is-clickable" style={`--inline-level: ${level};`}>
                    <a class="article__table-of-contents__item__link" href={`#${id}`}>{heading}</a>
                </li>
            ))}
        </ul>
    </nav>
</aside>