---
import type { CollectionEntry } from "astro:content";
import "./table-of-contents.css";

interface TableOfContentsProps {
	tableOfContents: CollectionEntry<"articles">["data"]["tableOfContents"];
}

const { tableOfContents } = Astro.props as TableOfContentsProps;
---
<aside class="article__table-of-contents__wrapper" role="complementary">
    <nav class="article__table-of-contents__nav">
        <h5>Table of Contents</h5>
        <ul class="article__table-of-contents__list flex column-nowrap">
            {tableOfContents.map(({ id, heading, level}, index) => (
                <li class="article__table-of-contents__item" style={`--inline-level: ${level};`}>
                    <a class="article__table-of-contents__item__link flex align-center --underline-on-hover --is-clickable" href={`#${id}`} style={`--for: --section-${index + 1}`}>{heading}</a>
                </li>
            ))}
        </ul>
    </nav>
</aside>

<script>
  import { observeOpacity } from '../../utils/observeOpacity';

  observeOpacity();
</script>
