@layer testimonials.testimonial.quote {
    .testimonial__quote__wrapper {
        display: grid;
        gap: 1rem 0;
        grid:
            'Testimonial-Quotation Testimonial-Quotation' min-content
            'Testimonial-Quote Testimonial-Quote' min-content
            / 1fr;
        grid-area: Testimonial-Quote;
        isolation: isolate;
        padding-inline-end: 2rem;
    }

    .testimonial__quote {
        grid-area: Testimonial-Quote;
        transition-duration: 350ms;
        transition-property: translate;
        transition-timing-function: ease-in;

        @supports (text-wrap: pretty) {
            text-wrap: pretty;
        }

        @supports not (text-wrap: pretty) {
            text-wrap: balance;
        }
    }

    .testimonial__quote-symbol {
        grid-area: Testimonial-Quotation;
        height: 4rem;
        transition: opacity 200ms linear 400ms;
        width: 4rem;
    }
}
