@layer base {
	* {
		transition-behavior: allow-discrete;

		&::selection {
			background-color: var(--primary-light-2);
			color: var(--neutral-main);
		}

		&:focus-visible:not(input, textarea) {
			outline: 2px solid var(--primary-main);
			outline-offset: 2px;
		}
	}

	html {
		overflow-x: hidden;
	}

	html,
	body {
		color: var(--neutral-main);
		font-size: var(--base-font-size);
		font-family: "Baskervville", serif;
		scroll-behavior: smooth;
		scrollbar-gutter: stable;
		scrollbar-width: auto;
		scrollbar-color: var(--primary-dark-3) var(--neutral-light-4);
		width: 100%;

		@media (prefers-reduced-motion: reduce) {
			scroll-behavior: auto;
		}
	}

	body,
	main {
		background-color: var(--background-main);
	}

	main {
		min-height: 100dvh;
		width: 100%;

		&:not(.--is-projects, .--is-article) {
			margin: calc(var(--header-height)) auto 0;

			@media (width <= 960px) {
				margin: 0 auto;
			}
		}
	}

	p,
	article {
		font-family: "Nunito Sans Variable", sans-serif;
		text-wrap: pretty;
	}

	mark {
		background-color: var(--primary-main);
	}

	button {
		-webkit-tap-highlight-color: transparent;
		cursor: pointer;
	}

	svg {
		-webkit-tap-highlight-color: transparent;

		&:not(.logo, .theme_toggle_inner, .cookie_consent_icon, .marker__wrapper svg) {
			fill: var(--neutral-main);
			color: var(--neutral-main);
		}
	}

	time {
		color: var(--primary-main);
		font-size: 0.75rem;
		text-transform: uppercase;
		letter-spacing: 0.25rem;
	}

	textarea {
		@supports (form-sizing: content) {
			form-sizing: content;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 2lh;
		text-box: trim-both cap alphabetic;
	}

	h3,
	h4 {
		letter-spacing: 0.15rem;
	}

	h1 {
		font-size: var(--font-size-h1);
	}

	h2 {
		font-size: var(--font-size-h2);
	}

	h3 {
		font-size: var(--font-size-h3);
	}

	h4 {
		font-size: var(--font-size-h4);
	}

	h5 {
		font-size: var(--font-size-h5);
	}

	h6 {
		font-size: var(--font-size-h6);
	}

	p {
		font-size: var(--base-font-size);
	}
}
