---
import { Image } from "astro:assets";
import bianca from "@assets/images/jpg/bianca-fiore.jpg";
import horizontalArrow from "@assets/images/svg/left-arrow.svg";
import EmailButton from "@components/atoms/emailButton/EmailButton.astro";
import "./about-intro.css";
---

<section class="about-me-intro__wrapper common-wrapper" transition:name="about-me-section">
  <div class="about-me-intro__section --left flex column-wrap">
    <h1 class="about-me-intro__title">Hi! I'm <br /><strong>Bianca</strong></h1>
    <div class="about-me-intro__body font-serif flex column-wrap">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. At enim hic etiam dolore. Facillimum id quidem est,
        inquam. Vide, quantum, inquam, fallare, Torquate. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <br />
        <br />
        Quid de Platone aut de Democrito loquar? Summus dolor plures dies manere non potest? Si enim ita est, vide ne facinus
        facias, cum mori.
      </p>
      <a href="/projects" class="about-me-intro__body__cta flex align-center">
        See my work <Image src={horizontalArrow} alt="See my work" />
      </a>
    </div>
  </div>
  <div class="about-me-intro__section --right flex row-wrap">
    <Image src={bianca} alt="Bianca Fiore" class="about-me-intro__image" loading="eager"/>
    <ul class="about-me-intro__section__social__networks__list flex row-nowrap">
      <li class="about-me-intro__section__social__networks__list__item">
        <a
          href="https://linkedin.com"
          target="_blank"
          rel="noopener noreferer"
          class="link footer__social__networks__link"
        >
          LinkedIn
        </a>
      </li>
      <li class="about-me-intro__section__social__networks__list__item">
        <EmailButton classNames={'about-me-intro__section__social__networks__list__item mailTo__button'} />
      </li>
    </ul>
  </div>
</section>
