@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.latest-articles__item {
  max-width: calc(100% / 4 - 2.5rem);
  width: 100%;
}

.latest-articles__item__card {
  color: color(others, white);
  display: grid;
  grid: 'LatestArticle-Image LatestArticle-Image' 1fr
  'LatestArticle-Title LatestArticle-Title' max-content
  'LatestArticle-Author LatestArticle-Date' auto
  / max-content 1fr;
  text-align: left;
}

.latest-articles__item:not(:last-child) {
  margin-right: 2.5rem;
}

.latest-articles__item__image {
  grid-area: LatestArticle-Image;
}

.latest-articles__item__title {
  @include typography-settings(1, 1, 2);
  font-weight: normal;
  grid-area: LatestArticle-Title;
}

.latest-articles__item__tag__item {
  color: color(neutral, neutral-3);
  flex-basis: 100%;
}

.latest-articles__author,
.latest-articles__date {
  @include font-properties(secondary);
}

.latest-articles__author {
  color: color(primary);
  grid-area: LatestArticle-Author;
}

.latest-articles__date {
  grid-area: LatestArticle-Date;
  margin-left: .25rem;
}
