---
import type { CollectionEntry } from "astro:content";
import ArticleCard from "@modules/core/components/articleCard/ArticleCard.astro";
import SliderShell from "@modules/core/components/sliderShell/SliderShell.astro";
import "./about-latest-articles-slider.css";

interface Props {
	articles: CollectionEntry<"articles">[];
}

const { articles } = Astro.props;
---

<SliderShell class="about__latest-articles__slider">
	{
		articles.map((article) => (
			<li class="slider__slide item-wrapper">
				<ArticleCard {...article} />
			</li>
		))
	}
</SliderShell>
