---
import type { CollectionEntry } from "astro:content";
import ArticleCard from "@modules/core/components/articleCard/ArticleCard.astro";
import SliderShell from "@modules/core/components/sliderShell/SliderShell.astro";
import "./about-latest-articles-slider.css";

interface Props {
	articles: CollectionEntry<"articles">[];
}

const { articles } = Astro.props;
---

<SliderShell
	class="about__latest-articles__slider"
	delay={10000}
	prevLabel="Previous Article"
	nextLabel="Next Article"
>
	{
		articles.map((article) => (
			<li class="slider__slide item-wrapper --is-clickable" data-slider-slide>
				<ArticleCard {...article} />
			</li>
		))
	}
</SliderShell>

<script>
	import { initArticleSlider } from "@utils/slider";
	document
		.querySelectorAll<HTMLElement>('[data-slider-type="articles"]')
		.forEach(initArticleSlider);
</script>
