.city-card__content__description {
	color: var(--muted);
	font-family: var(--font-serif);
	font-size: 15px;
	grid-area: City-Description;
	line-height: 1.6;
	padding-bottom: 2rem;

	@container about-page (width <= 720px) {
		padding-bottom: 1rem;
		padding-inline: 1rem;
	}
}
