@layer testimonials.testimonial.description {
  .testimonial__description {
    grid-area: Testimonial-Description;
    transition-duration: 350ms;
    transition-property: translate;
    transition-timing-function: ease-in;
  }
}
