@layer testimonials.testimonial.description {
    .testimonial__description {
        color: var(--neutral-light-2);
        grid-area: Testimonial-Description;
        isolation: isolate;
        transition-duration: 350ms;
        transition-property: translate;
        transition-timing-function: ease-in;
    }
}
