@layer testimonials {
    .testimonials__wrapper{
        margin-top: 9rem;
    }
    .testimonials__title,
    .testimonials__body {
        text-align: center;
        margin: 0 auto;
    }
    .testimonials__title{
        text-transform: uppercase;
        letter-spacing: .5rem;
    }
    .testimonials__body {
        max-width: var(--grid-small);
        width: 100%;
    }
}
