@import '../../../styles/global/functions';

.article__wrapper {
  margin-top: 1rem;
  max-width: map-get($grid, 'small');

  article {
    grid-area: Article;
    text-align: start;

    div > p:first-child::first-letter {
      font-size: 400%;
    }

    p {
      margin-bottom: 1rem;
    }

    blockquote > p,
    blockquote > p > p {
      margin-bottom: 0;
    }

    h1 {
      @include typography-settings(5, 5, 5);
    }

    h2 {
      @include typography-settings(4, 4, 4);
    }

    h3 {
      @include typography-settings(3, 3, 3);
    }

    h4 {
      @include typography-settings(2, 2, 2);
    }

    h4 {
      @include typography-settings(1, 1, 1);
    }

    strong {
      @include font-properties(primary, bold);
    }

    em {
      font-style: italic;
    }

    ul {
      padding-left: 2rem;
    }

    ol, ul, li {
      list-style: inherit;
      padding-inline-start: 1rem;
    }
  }
}

blockquote {
  @include typography-settings(2, 2, 2);
  @include font-properties(secondary, thin);
  border-left: .2rem solid color(primary, primary-dark-1);
  margin-left: .5rem;
  padding-left: .5rem;
  position: relative;

  p {
    display: inline-block;
    padding: .5rem 0;
  }

  &::before,
  &::after {
    color: color(primary, primary-dark-1);
    content: '\201C';
  }

  &::after {
    content: '\201D';
  }
}
