@import '../../../styles/global/functions';

.article__wrapper {
  display: grid;
  gap: 0 1rem;
  grid: 'Share Article Author' 1fr / .5fr map-get($grid, 'medium') 1fr;
  margin-top: 1rem;

  article {
    grid-area: Article;
    line-height: map-get($line-heights, 1);
    text-align: left;

    a {
      @include font-properties(primary, bold);
      color: color(primary, primary-dark-1);
      padding: 0 0 .25rem;
      position: relative;
    }

    a::before {
      background-color: color(primary);
      bottom: .25rem;
      content: '';
      height: .25rem;
      left: 0;
      opacity: .5;
      position: absolute;
      transform: scale3d(0, 1, 1);
      transform-origin: 0 50%;
      transition: transform .5s;
      width: 100%;
      will-change: transform;
      z-index: -1;
    }

    a:hover::before {
      transform: scale3d(1, 1, 1);
    }
  }
}

blockquote {
  @include typography-settings(2);
  border-left: .2rem solid color(primary, primary-dark-1);
  font-weight: 100;
  margin-left: .5rem;
  padding-left: .5rem;
  position: relative;

  p {
    display: inline-block;
    padding: 1rem 0;
  }

  &::before,
  &::after {
    color: color(primary, primary-dark-1);
    content: '\201C';
  }

  &::after {
    content: '\201D';
  }
}
