@import '../../../styles/global/functions';

.article__wrapper {
  display: grid;
  gap: 5rem 1rem;
  grid: 'Share Article Author' 1fr
        'RelatedArticles RelatedArticles RelatedArticles'
         / .5fr map-get($grid, 'medium') 1fr;
  margin-top: 1rem;

  article {
    grid-area: Article;
    text-align: left;

    > p:first-child::first-letter {
      font-size: 400%;
    }
  }
}

blockquote {
  @include typography-settings(2, 2, 2);
  @include font-properties(secondary, thin);
  border-left: .2rem solid color(primary, primary-dark-1);
  margin-left: .5rem;
  padding-left: .5rem;
  position: relative;

  p {
    display: inline-block;
    padding: .5rem 0;
  }

  &::before,
  &::after {
    color: color(primary, primary-dark-1);
    content: '\201C';
  }

  &::after {
    content: '\201D';
  }
}
