@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.simple-hit-card__item {
  display: grid;
  gap: .5rem;
  grid: 'Article-Information Article-Information' auto
  'Article-Title Article-Title' max-content
  'Article-Subtitle Article-Subtitle' auto
  'Article-Excerpt Article-Excerpt' max-content
  'Article-Cta .' max-content
  / max-content 1fr;

  .hit-card__information {
    display: flex;
    flex-flow: row wrap;
    grid-area: Article-Information;
  }

  .hit-card__link {
    grid-area: Article-Title;
  }

  .hit-card__title {
    @include typography-settings(12, 2, 10);
  }

  .hit-card-subtitle {
    display: flex;
    flex-flow: row nowrap;
    grid-area: Article-Subtitle;
  }

  .hit-card-subtitle__author {
    @include typography-settings(-1, 2, -1);
    color: color(primary);
    margin-right: 1rem;
    text-align: start;
  }

  .hit-card-subtitle__publish-date {
    @include typography-settings(-2, 2, -2);
    font-family: Literata, serif;
    letter-spacing: .25rem;
    margin-top: .25rem;
    text-transform: uppercase;
  }

  .hit-card__summary {
    font-family: Zilla Slab, sans-serif;
    grid-area: Article-Excerpt;
    font-weight: 600;
  }

  .hit-card__information__reading-time {
    @include typography-settings(-3, 2, -3);
    margin-right: .5rem;
  }

  .hit-card__information__tags__list {
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
  }

  .hit-card__information__tag__item {
    @include typography-settings(-3, 2, -3);
    color: color(primary);
    font-family: Literata, serif;
    font-weight: bold;
  }

  .hit-card__cta {
    font-family: Zilla Slab, sans-serif;
    grid-area: Article-Cta;
    margin-top: 1rem;
    position: relative;

    &::after {
      background: url('../../../assets/images/svg/traditional-arrow-right.svg') no-repeat center center / 100% auto;
      content: '';
      height: 1.5rem;
      position: absolute;
      right: -1rem;
      top: 0;
      transform: translate(100%, -10%);
      transition: right .3s;
      width: 1.5rem;
    }

    @media (hover: hover) {
      &:hover::after {
        right: -2rem;
      }
    }
  }
}
