@layer animations {
    @keyframes reveal {
        0% {
            opacity: 0;
            translate: 0 100px;
        }
        30% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
            translate: 0 0;
        }
    }

    @keyframes morph {
        0% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
        50% {
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        }
        100% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
    }

    @keyframes float-up-close {
        0% {
            translate: 0 0;
        }
        100% {
            translate: 0 -600px;
        }
    }

    @keyframes float-up-far {
        0% {
            translate: 0 0;
        }
        100% {
            translate: 0 -1200px;
        }
    }
}
