@layer global {
    .common-wrapper {
        max-width: var(--grid-extra-large);
        width: 100%;
        margin: 0 auto;
    }

    .flex {
        display: flex;
    }

    .row-wrap {
        flex-flow: row wrap;
    }

    .column-wrap {
        flex-flow: column wrap;
    }

    .column-nowrap {
        flex-flow: column nowrap;
    }

    .justify-flex-end {
        justify-content: flex-end;
    }

    .justify-space-between {
        justify-content: space-between;
    }

    .align-center {
        align-content: center;
    }

    .clickable {
        cursor: pointer;
        transition: scale 0.2s;

        &:active {
            scale: 0.9;
        }
    }

    .reveal {
        opacity: 1;
        @supports (animation-timeline: view()) {
            animation: reveal linear;
            animation-timeline: view();
        }
    }
}
