@layer modifiers {
	.item-wrapper {
		position: relative;
	}

	.--is-clickable:not(canvas):not(:disabled) {
		cursor: pointer;
		transition: scale 0.2s;

		&:active {
			scale: 0.9;
		}
	}

	.--underline-on-hover {
		--border-width: 1px;
		border: none;
		background-color: unset;
		background-image: linear-gradient(currentColor, currentColor);
		background-size: 0% var(--border-width);
		background-repeat: no-repeat;
		background-position: 0 100%;
		text-decoration: none;
		color: currentColor;
		padding: 0;
		cursor: pointer;
		transition: background-size 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), scale 0.2s;

		&:not(.--is-active):hover {
			background-size: 100% var(--border-width);
		}

		&.--is-active {
			background-size: 100% var(--border-width);
		}
	}
}
