@import '../../../styles/global/animations';
@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.map__wrapper {
  height: map-get($grid, 'extra-small');
}

.map {
  height: 100%;
}

.amcharts---is-created-group path {
  animation: draw-line 10s forwards 1s ease;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.amcharts---is-erased-group path {
  opacity: 0;
  transition: opacity 1.5s ease;
}


