---
import "./republished-banner.css";

interface Props {
	originalSource?: string;
}

const { originalSource } = Astro.props;
---
<aside class="republished-banner font-sans-serif" role="note" aria-label="Archival notice">
  <div class="republished-banner__header">
    <svg class="republished-banner__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
      <path d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97 0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.28 2.54.72-1.21-3.5-2.08V8H12z" />
    </svg>
    <span class="republished-banner__label">Archival note</span>
  </div>
  <p class="republished-banner__text">
    This article was originally published on {originalSource ? <em>{originalSource}</em> : "a platform"} which is no longer available online. It has been republished here to preserve the author's work in its original form.
  </p>
</aside>
