@import '../global/variables';
@import '../global/functions';

* {
  box-sizing: border-box;
}

html,
body {
  @include font-properties(primary, regular);
  color: color(neutral);
  font-size: $base-font-size;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: color(neutral);
  -webkit-touch-callout: none;
  text-rendering: optimizeSpeed;
}

main {
  flex: 1;
  position: relative;
}

a {
  color: inherit;
}

img {
  height: 100%;
  max-width: 100%;
  width: 100%;
}
