@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.recaptcha-input__wrapper {
  align-items: baseline;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 2rem;
  max-width: 100%;
  min-width: 100%;
  position: relative;
  width: 100%;

  * > div {
    margin-inline: auto;
  }
}

.recaptcha-input__label__text {
  margin-bottom: .25rem;
}

.recaptcha-input__error-message {
  @include typography-settings(-2, 2, -2);
  bottom: -2rem;
  color: color(error);
  font-family: Zilla Slab, sans-serif;
  left: 0;
  position: absolute;
  right: 0;
  transform: translateY(-100%);
}
