@import '../../../styles/global/functions';

nav {
  ul {
    @include typography-settings(1.5);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 1rem 0;
    text-transform: uppercase;
  }

  a {
    color: color(neutral);
    letter-spacing: 2px;
    padding: 0 .5rem;
    position: relative;
    transition: all .3s ease;
    will-change: font-weight;

    &.--is-active {
      font-weight: bold;
    }

    &.--is-active::after {
      border-bottom: solid 2px color(neutral);
      bottom: -.5rem;
      content: '';
      left: 0;
      position: absolute;
      transform: scaleX(1);
      transform-origin: right;
      width: 100%;
    }

    &::after {
      border-bottom: solid 2px color(neutral);
      bottom: -.5rem;
      content: '';
      left: 0;
      position: absolute;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform .3s ease-in-out;
      width: 100%;
      will-change: transform;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}
