@import '../../../styles/global/functions';

ul {
  @include font-properties(primary, bold);
  @include typography-settings(2);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 1rem 0;
  text-transform: uppercase;
}

a {
  color: color(neutral);
  position: relative;
}
