@import '../../../styles/global/variables';
@import '../../../styles/global/functions';

.filter__refinement-range-list {
  margin: .5rem 0;
  padding: .5rem;
  width: 100%;
}

.filter__refinement-range-title {
  border-bottom: 1px solid color(neutral, neutral-3);
  display: flex;
  margin-bottom: .5rem;
  padding-bottom: .5rem;
}

.rheostat {
  margin-top: 1rem;
}

.DefaultProgressBar_progressBar {
  background-color: color(primary);
}

.DefaultBackground {
  border-radius: 1rem;
}


.handleContainer,
.DefaultBackground {
  height: .75rem;
}

.range-list__marker {
  @include typography-settings(-2, 2, -2);
  position: absolute;
  top: 1rem;
}

.range-list__marker--large__min {
  left: 0;
}

.range-list__marker--large__max {
  right: 0;
}

.DefaultHandle_handle:active {
  border-color: color(primary, primary-dark-1);
}
